<!DOCTYPE html>
<html>
	<header>
	    <hgroup class="crearfix">
	        <title>Episode 4</title>
	        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylem.css') }}"/>
	    </hgroup>
    </header>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <aside>
	        <div id="nav">
	            Menu:
	            <ul id="menu">
	            	{% block nav %}{% endblock %}
	            	<hr id="nav"/>
	            	{% if 'username' in session %}
					<li><a href="{{url_for('remote')}}">remote control</a></li>
					<li><a href="{{url_for('usuarioManager')}}">Usuario Manager</a>
						<ul>
							<li><a href="{{url_for('crearUsuario')}}">Crear Usuario</a></li>
						</ul>
					</li>
					{% else %}
					<li><a href="#">Ayuda</a></li>
					{% endif %}
				</ul>
	        </div>
        </aside>
    </body>
</html>