{% extends "base.html" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% block header %}
<title>WAPM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
jQuery(document).ready(
function() {
	
	var grid = jQuery("#listRoles").jqGrid(
			{

				// datatype : "local",
				// data:mydata,
				url : 'http://localhost:5000/listarRolProyecto',
				datatype : "json",
				mtype : "get",
				postData: { idFase : comboFaseSeleccion()},
				show : {
					effect : 'fade',
					duration : 200
				},
				
				hide : {
					effect : 'fade',
					duration : 200
				},
				colNames : [ 'ID rol ', 'Nombre',
						'Descripcion', 'listaPermisos' ],
				colModel : [ {
					name : 'idRol',
					index : 'idRol',
					hidden : true
				}, {
					name : 'nombre',
					index : 'nombre',
				}, {
					name : 'descripcion',
					index : 'descripcion',

				}							
				, {
					name : 'listaPermisos',
					index : 'listaPermisos',
					hidden : true
				}

				],
				sortname : 'nombre',
				viewrecords : true,
				rownumbers : true,
				sortorder : "desc",
				ignoreCase : true,
				pager : '#pagerRoles',
				caption : "Lista de Roles",
				jsonReader : {
					root : "invdata",
					page : "currpage",
					total : "totalpages",
					records : "totalrecords",
					repeatitems : false,
					id : "idUsuario"
				}

			}).jqGrid('navGrid', '#pagerRoles', {
		edit : false,
		add : false,
		del : false,
		search : false,
		refresh : true
	});
	grid.jqGrid('filterToolbar', {
		stringResult : true,
		searchOnEnter : false,
		defaultSearch : "cn"
	});

	
	
	$('#comboFase');
	
	$("#dialogo-roles")
	.dialog(
			{
				autoOpen : false,
				width : 'auto',
				height : '500',
				overflow : scroll,
				modal : true,
				show : {
					effect : 'fade',
					duration : 400
				},
				hide : {
					effect : 'fade',
					duration : 350
				},
				resizable : false,
				buttons : {
					/* funcion asociado al boton aceptar */
					"Nueva" : function(){agregarFase()},
					"Modificar" : function(){modificarFase()},
					"Consultar" : function(){consultarFase()},
					"Administrar Permisos" : function(){consultarFase()},
				}
	});
		
	var gridFase = jQuery("#listaFases")
	.jqGrid(
			{

				// datatype : "local",
				// data:mydata,
				url : 'http://localhost:5000/listarFases',
				datatype : "json",
				mtype : "get",
				postData:{idProyectoPD: '0'},
				colNames : [ 'ID Fases',
						'Nombre Fase', 'Fecha Inicio', 'Fecha Finalizacion',
						'Descripcion', 'Estado', 'Id de Proyecto' ],
				colModel : [
						{
							name : 'idFase',
							index : 'idFase',
							hidden : true
						},
						
						{
							name : 'nombreFase',
							index : 'nombreFase',
							width : 200
						},
						{
							name : 'fechaInicio',
							index : 'fechaInicio',
							formatter: 'date',
				            sorttype: 'date',
				            datefmt: 'd/m/Y',
				            formatoptions: { srcformat: 'Y-m-d', newformat: 'd/m/Y' },
							search:false
						},{
							name : 'fechaFinalizacion',
							index : 'fechaFinalizacion',
							formatter: 'date',
				            sorttype: 'date',
				            datefmt: 'd/m/Y',
				            formatoptions: { srcformat: 'Y-m-d', newformat: 'd/m/Y' },
							search:false
						},
						{
							name : 'descripcion',
							index : 'descripcion',
							hidden : true
						},
						{
							name : 'estado',
							index : 'estado',
							
						},
						{
							name : 'idProyecto',
							index : 'idProyecto',
							hidden : true
						}

				],
				sortname : 'nombreFase',
				viewrecords : true,
				rownumbers : true,
				sortorder : "desc",
				ignoreCase : true,
				pager : '#pager',
				caption : "Fases",
				jsonReader : {
					root : "invdata",
					page : "currpage",
					total : "totalpages",
					records : "totalrecords",
					
					repeatitems : false,
					id : "idUsuario"
				}

			}).jqGrid('navGrid', '#pagerFases', {
		edit : false,
		add : false,
		del : false,
		search : false,
		refresh : true
	});
	gridFase.jqGrid('filterToolbar', {
	stringResult : true,
	searchOnEnter : false,
	defaultSearch : "cn"
	});

	
	$("#dialogo-fases")
	.dialog(
			{
				autoOpen : false,
				width : 'auto',
				height : '500',
				overflow : scroll,
				modal : true,
				show : {
					effect : 'fade',
					duration : 400
				},
				hide : {
					effect : 'fade',
					duration : 350
				},
				resizable : false,
				buttons : {
					/* funcion asociado al boton aceptar */
					"Nueva" : function(){agregarFase()},
					"Modificar" : function(){modificarFase()},
					"Consultar" : function(){consultarFase()},
				}
	});
	var banderaFase;
	$("#dialogo-datos-fase")
	.dialog(
			{
				autoOpen : false,
				modal : true,
				resizable : false,
				width : 550,
				show: {effect: 'fade', duration: 400},
				hide: {effect: 'fade', duration: 350},
				buttons : {
					/* funcion asociado al boton aceptar */
					"Aceptar" : function() {
						/* si el dato es nuevo se llamar a la url para agregar */
						
						if (getBanderaFase() == 1) {
							/* se indica la URL */
							if (controlFase(true) == 1) {
								mostrarMensaje("Error",
										"Campos completados incorrectamente");
							} else {
								
								$.post('/agregarFase/',{ 
									/* se indican los parametros*/
										nombreFase : $(
												"#nombreFase")
												.val(),
										fechaInicio : $(
												"#datepickerFase")
												.val(),
										fechaFinal : $(
												"#datepickerFase2")
												.val(),
										descripcion: $("#descripcionFase")
												.val(),
										estado : $("#estadoFase")
												.val(),
										
										idProyecto :valorProyectoSeleccion()
												},
												function(data, status) {
													/* funcion que maneja el resultruc : $("#ruc").val(),ado de la invocación */

													/* si hay error se muestra el mensaje*/
													if (data.substring(
															0, 1) == 't') {
														mostrarMensaje(
																"Error",
																"Los datos no se han podido guardar:\n"
																		+ data
																				.substring(2));
														/* se indica que no hubieron errores */
													} else {
														$(
																"#dialogo-datos-fase")
																.dialog(
																		"close");
														mostrarMensaje(
																"Exito",
																data
																		.substring(2));
													}
													/* se indicar la recarga de la tabla */
													$('#listaFases')
															.trigger(
																	"reloadGrid");
												});
							}

							/* si el dato se modifica se llama a la url para modificar*/
						} else if (getBanderaFase() == 2) {
							if (controlFase(false) == 1) {
								mostrarMensaje("Error",
										"Campos completados incorrectamente");
							} else {

								/* se indica la url */
								$
										.post(
												'/modificarFase/',
												{
											idFase:$(
													"#idFase")
													.val(),
											nombreFase : $(
													"#nombreFase")
													.val(),
											fechaInicio : $(
													"#datepickerFase")
													.val(),
											fechaFinal : $(
													"#datepickerFase2")
													.val(),
											descripcion: $("#descripcionFase")
													.val(),
											estado : $("#estadoFase")
													.val(),
											idProyecto :valorProyectoSeleccion()
												},
												function(data, status) {

													if (data.substring(
															0, 1) == 't') {
														mostrarMensaje(
																"Error",
																"Los datos no se han podido modificar:\n"
																		+ data
																				.substring(2));
													} else {
														$(
																"#dialogo-datos-fase")
																.dialog(
																		"close");
														mostrarMensaje(
																"Exito",
																"Los datos han sido modificados");
													}
													$('#listaFases')
															.trigger(
																	"reloadGrid");
												});
							}
						} else if (getBanderaFase() == 3) {/*consultar*/
							$(this).dialog("close");
						}
					},
					"Cancelar" : function() {
						$(this).dialog("close");
					}
				}
			});

	
	
	var gridProyecto = jQuery("#list")
			.jqGrid(
					{
						// datatype : "local",
						// data:mydata,
						url : 'http://localhost:5000/listarProyectos',
						datatype : "json",
						mtype : "get",
						colNames : [ 'ID Proyecto',
								'Nombre de Proyecto',
								'Fecha de Inicio',
								'ID ProjectLeader',
								'Nombre ProjectLeader',
								'Fecha de finalizacion',
								'Observacion',
								'Numero Fases',
								'Presupuesto', 'Estado' ],
						colModel : [
								{
									name : 'idProyecto',
									index : 'idProyecto',
	
									hidden : true
								},
								{
									name : 'nombreProyecto',
									index : 'nombreProyecto',
	
								},
								{
									name : 'fechaInicio',
									index : 'fechaInicio',
	
									formatter : 'date',
									sorttype : 'date',
									datefmt : 'd/m/Y',
									formatoptions : {
										srcformat : 'Y-m-d',
										newformat : 'd/m/Y'
									},
									search : false
								},
								{
									name : 'idProjectLeader',
									index : 'idProjectLeader',
	
									hidden : true
								},
								{
									name : 'nombreProjectLeader',
									index : 'nombreProjectLeader',
	
									hidden : true
								},
								{
									name : 'fechaFinalizacion',
									index : 'fechaFinalizacion',
	
									formatter : 'date',
									sorttype : 'date',
									datefmt : 'd/m/Y',
									formatoptions : {
										srcformat : 'Y-m-d',
										newformat : 'd/m/Y'
									},
									search : false
								},
								{
									name : 'observacion',
									index : 'observacion',
	
									hidden : true
								},
								{
									name : 'nroFases',
									index : 'nroFases',
	
									hidden : true
								},
								{
									name : 'presupuesto',
									index : 'presupuesto',
	
									search : false
								},
								{
									name : 'estado',
									index : 'estado',
									formatter : 'select',
									stype : 'select',
									editoptions : {
										value : "activo:Activo;finalizado:Finalizado"
									},
									hidden : false
	
								}
	
						],
						sortname : 'nombreProyecto',
						viewrecords : true,
						rownumbers : true,
						sortorder : "desc",
						ignoreCase : true,
						pager : '#pager',
						caption : "Proyectos",
						jsonReader : {
							root : "invdata",
							page : "currpage",
							total : "totalpages",
							records : "totalrecords",
							repeatitems : false,
							id : "idProyecto"
						}
	
					}).jqGrid('navGrid', '#pager', {
				edit : false,
				add : false,
				del : false,
				search : false,
				refresh : false
			});
	gridProyecto.jqGrid('filterToolbar', {
		stringResult : true,
		searchOnEnter : false,
		defaultSearch : "cn"
	});
	
	$("#dialogo-proyecto")
			.dialog(
					{
						autoOpen : false,
						width : 'auto',
						height : '500',
						overflow : scroll,
						modal : true,
						show : {
							effect : 'fade',
							duration : 400
						},
						hide : {
							effect : 'fade',
							duration : 350
						},
						resizable : false,
						buttons : {
							/* funcion asociado al boton aceptar */
							"Aceptar" : function() {
								/* si el dato es nuevo se llamar a la url para agregar */
								if (bandera == 1) { /*si bandera==1 entonces es nuevo proyecto*/
									/* se indica la URL */
									if (control() == 1) {
										mostrarMensaje(
												"Error",
												"Campos completados incorrectamente");
									} else {
										$
												.post(
														'/agregarProyecto/',
														{ /* se indican los parametros*/
															nombreProyecto : $(
																	"#nombreProyecto")
																	.val(),
															fechaInicio : $(
																	"#datepicker")
																	.val(),
															fechaFinal : $(
																	"#datepicker2")
																	.val(),
															presupuesto : $(
																	"#presupuesto")
																	.val(),
															nroFases : $(
																	"#nroFases")
																	.val(),
															observacion : $(
																	"#observacion")
																	.val(),
															idProjectLeader : $(
																	"#idProjectLeader")
																	.val(),
															estado : $(
																	"#estado")
																	.val()
	
														},
														function(
																data,
																status) {
															/* funcion que maneja el resultruc : $("#ruc").val(),ado de la invocación */
	
															/* si hay error se muestra el mensaje*/
															if (data
																	.substring(
																			0,
																			1) == 't') {
																mostrarMensaje(
																		"Error",
																		"Los datos no se han podido guardar:\n"
																				+ data
																						.substring(2));
																/* se indica que no hubieron errores */
															} else {
																$(
																		"#dialogo-proyecto")
																		.dialog(
																				"close");
																mostrarMensaje(
																		"Exito",
																		data
																				.substring(2));
															}
															/* se indicar la recarga de la tabla */
															$(
																	'#list')
																	.trigger(
																			"reloadGrid");
														});
									}
	
									/* si el dato se modifica se llama a la url para modificar*/
								} else if (bandera == 2) {
									if (control() == 1) {
										mostrarMensaje(
												"Error",
												"Campos completados incorrectamente");
									} else {
										/* se indica la url */
										$
												.post(
														'/modificarProyecto',
														{
															idProyecto : $(
																	"#idProyecto")
																	.val(),
															nombreProyecto : $(
																	"#nombreProyecto")
																	.val(),
															fechaInicio : $(
																	"#datepicker")
																	.val(),
															fechaFinalizacion : $(
																	"#datepicker2")
																	.val(),
															presupuesto : $(
																	"#presupuesto")
																	.val(),
															nroFases : $(
																	"#nroFases")
																	.val(),
															activo : $(
																	"#activo")
																	.val(),
															observacion : $(
																	"#observacion")
																	.val(),
															idProjectLeader : $(
																	"#idProjectLeader")
																	.val(),
															estado : $(
																	"#estado")
																	.val()
	
														},
														function(
																data,
																status) {
	
															if (data
																	.substring(
																			0,
																			1) == 't') {
																mostrarMensaje(
																		"Error",
																		"Los datos no se han podido modificar:\n"
																				+ data
																						.substring(2));
															} else {
																$(
																		"#dialogo-proyecto")
																		.dialog(
																				"close");
																mostrarMensaje(
																		"Exito",
																		"Los datos han sido modificados");
															}
															$(
																	'#list')
																	.trigger(
																			"reloadGrid");
														});
									}
								} else if (bandera == 3) {
									$(this).dialog("close");
								}
							},
							"Cancelar" : function() {
								$(this).dialog("close");
							}
						}
});

var gridMiembros = jQuery("#listMiembros")
		.jqGrid(
				{

					url : 'http://localhost:5000/listarMiembrosProyecto',
					datatype : "json",
					mtype : "get",
					postData : {
						idProyecto : '2'
					},
					show : {
						effect : 'fade',
						duration : 400
					},
					hide : {
						effect : 'fade',
						duration : 350
					},
					colNames : [ 'ID Usuario ',
							'Cedula',
							'Nombre de Usuario',
							'Nombre', 'Apellido',
							'Password', 'Email',
							'Direccion', 'Telefono',
							'Observacion',
							'Es Miembro', 'Estado' ],
					colModel : [
							{
								name : 'idUsuario',
								index : 'idUsuario',
								width : 200,
								hidden : true
							},
							{
								name : 'ci',
								index : 'ci',
								width : 200,
								hidden : true
							},
							{
								name : 'nombreUsuario',
								index : 'nombreUsuario',
								width : 200
							},
							{
								name : 'nombre',
								index : 'nombre',
								width : 180
							},
							{
								name : 'apellido',
								index : 'apellido',
								width : 180
							},
							{
								name : 'pass',
								index : 'pass',
								width : 200,
								hidden : true
							},
							{
								name : 'email',
								index : 'email',
								width : 180
							},
							{
								name : 'direccion',
								index : 'direccion',
								width : 200,
								hidden : true
							},
							{
								name : 'telefono',
								index : 'telefono',
								width : 200,
								hidden : true
							},
							{
								name : 'observacion',
								index : 'observacion',
								width : 200,
								hidden : true
							},
							{
								name : 'enProyecto',
								index : 'enProyecto',
								width : 90,
								align : "center",
								formatter : 'select',
								stype : 'select',

								editoptions : {
									value : "Todos:Todos;Si:Si;No:No"
								},
							},
							{
								name : 'activo',
								index : 'activo',
								formatter : 'select',
								stype : 'select',
								editoptions : {
									value : "true:Activo;false:Inactivo"
								},
								hidden : true
							}

					],
					sortname : 'nombreUsuario',
					viewrecords : true,
					rownumbers : true,
					sortorder : "desc",
					ignoreCase : true,
					pager : '#pagerMiembros',
					caption : "Lista de Usuarios",
					jsonReader : {
						root : "invdata",
						page : "currpage",
						total : "totalpages",
						records : "totalrecords",
						repeatitems : false,
						id : "idUsuario"
					}

				}).jqGrid('navGrid', '#pagerMiembros',
				{
					edit : false,
					add : false,
					del : false,
					search : false,
					refresh : false
				});
gridMiembros.jqGrid('filterToolbar', {
	stringResult : true,
	searchOnEnter : false,
	defaultSearch : "cn"
});

$('#dialogo-agregar-miembros')
		.dialog(
				{
					autoOpen : false,
					width : 1000,
					modal : true,
					resizable : true,
					show : {
						effect : 'fade',
						duration : 400
					},
					hide : {
						effect : 'fade',
						duration : 350
					},
					buttons : {
						/* funcion asociado al boton aceptar */
						"Agregar" : function() {
							/* se pregunta si es que se selecciono la fila en proyectos, y en lel grid de users */
							var rowMiembros = $(
									'#listMiembros')
									.jqGrid(
											'getGridParam',
											'selrow');

							if (rowMiembros == null) {
								mostrarMensaje(
										"Atencion",
										"Seleccione el Usuario a agregar");
								return;
							}
							var rowProyecto = $('#list')
							.jqGrid(
									'getGridParam',
									'selrow');
							
							if (rowProyecto == null) {
								mostrarMensaje(
										"Atencion",
										"Seleccione el proyecto");
								return;
							}

							var rowdata = $('#list')
									.getRowData(
											rowProyecto);
							var rowdataMiembros = $(
									'#listMiembros')
									.getRowData(
											rowMiembros);

							if (rowdataMiembros.activo == 'false') {
								mostrarMensaje(
										"Atencion",
										"No se puede agregar usuario inactivo a un proyecto");
							}
							/* se indica la URL */
							$
									.post(
											'/agregarMiembrosProyecto/',
											{ /* se indican los parametros*/
												idProyecto : rowdata.idProyecto,
												idUsuarioAgregar : rowdataMiembros.idUsuario

											},
											function(
													data,
													status) {
												/* funcion que maneja el resultruc : $("#ruc").val(),ado de la invocación */

												/* si hay error se muestra el mensaje*/
												if (data
														.substring(
																0,
																1) == 't') {
													mostrarMensaje(
															"Error",
															"Los datos no se han podido guardar:\n"
																	+ data
																			.substring(2));
													/* se indica que no hubieron errores */
												} else {
													mostrarMensaje(
															"Exito",
															data
																	.substring(2));
												}
												/* se indicar la recarga de la tabla */
												$(
														'#listMiembros')
														.trigger(
																"reloadGrid");
											});

							/* si el dato se modifica se llama a la url para modificar*/
						},
						"Quitar" : function() {
							var rowMiembros = $(
									'#listMiembros')
									.jqGrid(
											'getGridParam',
											'selrow');
							if (rowMiembros == null) {
								mostrarMensaje(
										"Atencion",
										"Seleccione el Usuario a agregar");
								return;
							}
							var rowProyecto = $('#list')
									.jqGrid(
											'getGridParam',
											'selrow');
							if (rowProyecto == null) {
								mostrarMensaje(
										"Atencion",
										"Seleccione el proyecyo");
								return;
							}

							var rowdata = $('#list')
									.getRowData(
											rowProyecto);
							var rowdataMiembros = $(
									'#listMiembros')
									.getRowData(
											rowMiembros);
							/* se indica la url */
							$
									.post(
											'/QuitarMiembrosProyecto',
											{
												idProyecto : rowdata.idProyecto,
												idUsuario : rowdataMiembros.idUsuario
											},
											function(
													data,
													status) {

												if (data
														.substring(
																0,
																1) == 't') {
													mostrarMensaje(
															"Error",
															"Usuario no se ha podido quitar:\n"
																	+ data
																			.substring(2));
												} else {
													mostrarMensaje(
															"Exito",
															"Usuario ha sido quitado del proyecto");
												}
												$(
														'#listMiembros')
														.trigger(
																"reloadGrid");
											});
						},
						"Salir" : function() {
							$(this).dialog("close");
						}
					}
				});

	});
</script>

<script type="text/javascript">
	jQuery(function($) {
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '&#x3c;Ant',
			nextText : 'Sig&#x3e;',
			currentText : 'Hoy',
			monthNames : [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
					'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
					'Noviembre', 'Diciembre' ],
			monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
					'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
			dayNames : [ 'Domingo', 'Lunes', 'Martes', 'Mi&eacute;rcoles',
					'Jueves', 'Viernes', 'S&aacute;bado' ],
			dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mi&eacute;', 'Juv', 'Vie',
					'S&aacute;b' ],
			dayNamesMin : [ 'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'S&aacute;' ],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
	});

	$(document).ready(function() {
		$("#datepicker").datepicker();
	});

	$(document).ready(function() {
		$("#datepicker2").datepicker();
	});
	$(document).ready(function() {
		$("#datepickerFase").datepicker();
	});
	
	$(document).ready(function() {
		$("#datepickerFase2").datepicker();
	});
</script>

<!-- Formulario HTML para la carga de datos a ser inicializado por JqGrid -->
<style type="text/css">
.fieldset {
	width: auto;
	border: 0;
}
</style>
<div id="dialogo-proyecto" title="Datos de Proyecto">
	<form>
		<fieldset class="fieldset">
			<table style="float: left">
				<tr>
					<td><input type="hidden" name="idProyecto" id="idProyecto" />
						<label for="nombreProyecto" style="display: block">*Nombre
							Proyecto</label><input type="text" name="nombreProyecto"
						id="nombreProyecto"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
						<input type="hidden" name="idProjectLeader" id="idProjectLeader" />
					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="EnombreProyecto" id="EnombreProyecto"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>

				<tr>
					<td><label for="nombreProjectLeader" style="display: block">*Nombre
							de ProjectLeader</label> <input type="text" name="nombreProjectLeader"
						id="nombreProjectLeader"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />

					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="EnombreProjectLeader" id="EnombreProjectLeader"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				<tr>
					<td><label for="fechaInicio" style="display: block">Fecha
							de Inicio</label> <input type="text" name="datepicker" id="datepicker"
						readonly="readonly"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="Edatepicker" id="Edatepicker"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				<tr>
					<td><label for="fechaFinalizacion" style="display: block">Fecha
							de Finalizacion</label> <input type="text" name="datepicker2"
						id="datepicker2" readonly="readonly"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="Edatepicker2" id="Edatepicker2"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>

				</tr>
				<tr>
					<td><label for="presupuesto" style="display: block">Presupuesto</label>
						<input type="text" name="presupuesto" id="presupuesto" value=""
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="Epresupuesto" id="Epresupuesto"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				<tr>
					<td><label for="nroFases" style="display: block">Numero
							de fases</label> <input type="text" name="nroFases" id="nroFases"
						value=""
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="EnroFases" id="EnroFases"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				<tr>
					<td><label for="observacion" style="display: block">Observacion</label>
						<input type="text" name="observacion" id="observacion" value=""
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
					<td><br></br> <input type="text" readonly tabIndex="-1"
						name="Eobservacion" id="Eobservacion"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				<tr>
					<td><label for="estado" style="display: block">Estado</label>
						<select id="estado"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em; width: 50%;">
							<option value="activo">Activo</option>
							<option value="finalizado">Finalizado</option>
					</select></td>
				</tr>
			</table>
			<table style="float: left">

			</table>
		</fieldset>
	</form>
</div>
{% endblock %} {% block body %}

<script>
	
	function cargaComboFase(){
		
		$.post('/listarComboFases/',
				{ /* se indican los parametros*/
					idProyecto : valorProyectoSeleccion()
				},
				function(data, status) {
					var select = $('#comboFase');
					var options = select.prop('options');
					
					$('option', select).remove();
					options[0] = new Option("--Seleccione una Fase--","0");
					var index=0
					
					data = $.parseJSON( data );
					//var jsonData = JSON.stringify(eval("(" + data + ")"));
					$.each(data, function(index,fase) {
						index=index+1;
						options[options.length] = new Option(index+" : "+fase.nombreFase,fase.idFase);
					})
				}
			);
		$('#dialogo-roles').dialog("open");
	}
	
	function comboFaseSeleccion()
	{
		return $('#comboFase').val()
		
	}
	
	function reloadGridRol(){
		
		$("#comboFase option[value='0']").remove();
		var myPostData = $('#listRoles').jqGrid("getGridParam", "postData");
		delete myPostData.idFase;
		//eso borra el idFase actual
		$('#listRoles').setGridParam({
		postData: { idFase: comboFaseSeleccion() } });
		//eso se setea el nuevo valor
		$('#listRoles').trigger("reloadGrid");
	
		
	}
	
	
	




	/* variable permite indicar si se está cargando un nuevo item de datos */
	var banderita;
	var yaentro;
	/* inicialización del dialogo JQuery que permite tomar los datos de cliente */
	function valorProyectoSeleccion(){
		var rowProyecto = $('#list').jqGrid('getGridParam', 'selrow');
		if (rowProyecto == null) {
			return '0';
		}
		var rowdata = $('#list').getRowData(rowProyecto);
		return rowdata.idProyecto;
	}
	
	function abrirDialogoFases()
	{
		var rowProyecto = $('#list').jqGrid('getGridParam', 'selrow');
		if (rowProyecto == null) {
			mostrarMensaje("Atencion",
					"Seleccione el proyecto a cual administrar Fases ");
			return;
		}
		var rowdata = $('#list').getRowData(rowProyecto);
		setGridFase(rowdata); 
		$('#dialogo-fases').dialog("open");
		
	}
	
	function setGridFase(rowdata) {
		
		$('#listaFases').jqGrid("getGridParam", "postData").idProyectoPD=rowdata.idProyecto;
		$('#listaFases').trigger("reloadGrid");
		
	}
	
	function getBanderaFase(){
		return banderaFase;
		
	}
	
	function agregarFase() {
		banderaFase=1;
		$("#idFase").val("");
		$("#nombreFase").val("");
		$("#datepickerFase").val("");
		$("#datepickerFase2").val("");
		$("#descripcionFase").val("");
		$("#estadoFase").val("");
		$("#idProyectoFase").val("");
		/* se llama al dialogo de captura de datos */
		setCamposDisabledFase(false);
		//$.enmascarar();
		if(valorProyectoSeleccion()!=0){
			$("#dialogo-datos-fase").dialog("open");
		}else{
			mostrarMensaje("Error", "Debe seleccionar un proyecto para agregar una fase")
		}
		
	}
	function modificarFase() {
		banderaFase=2;
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#listaFases').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a modificar");
			return;
		}
		var rowdata;
		/* se cargan los elementos HTML segun la fila seleccionada*/
		cargarFormFase(rowdata, row);
		/*se habilita la edicion*/
		setCamposDisabledFase(false);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-datos-fase").dialog("open");
		
	}
	function consultarFase() {
		banderaFase=3;
		/* se comprueba que hay un dato seleccionado para consultar */
		var row = $('#listaFases').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a consultar");
			return;
		}
		var rowdata;
		/* se cargan los elementos HTML segun la fila seleccionada*/
		cargarFormFase(rowdata, row);
		/*se inhabilita la edicion*/
		setCamposDisabledFase(true);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-datos-fase").dialog("open");
	
	}
	function controlFase(esNuevo) {
		$("#nombreFase").css('border-color', 'skyblue');
		$("#datepickerFase").css('border-color', 'skyblue');
		$("#datepickerFase2").css('border-color', 'skyblue');
		$("#descripcionFase").css('border-color', 'skyblue');
		$("#estadoFase").css('border-color', 'skyblue');
		
		var error = 0
		var len;

		len = $("#nombreFase").val().trim().length;
		if (len > 20 || len <= 0) {
			$("#nombreFase").css('border-color', 'red');
			error = 1;
		}

		len = document.getElementById("descripcionFase").value.trim().length;
		//len=$("#observacion").val().trim().length;
		if (len > 50 || len <= 0) {
			$("#descripcionFase").css('border-color', 'red');
			error = 1;
		}
		len = document.getElementById("datepickerFase").value.trim().length;
		//len=$("#observacion").val().trim().length;
		if (len <= 0) {
			$("#datepickerFase").css('border-color', 'red');
			error = 1;
		}
		
		len = document.getElementById("datepickerFase2").value.trim().length;
		//len=$("#observacion").val().trim().length;
		if (len <= 0) {
			$("#datepickerFase2").css('border-color', 'red');
			error = 1;
		}
		return error;
	}
	
	function setCamposDisabledFase(habilitar) {
		
		$("#idFase").attr('disabled', habilitar);
		$("#nombreFase").attr('disabled', habilitar);
		$("#datepickerFase").attr('disabled', habilitar);
		$("#datepickerFase2").attr('disabled', habilitar);
		$("#descripcionFase").attr('disabled', habilitar);
		$("#estadoFase").attr('disabled', habilitar);
		$("#idProyectoFase").attr('disabled', habilitar);
	}
	
	function cargarFormFase(rowdata, row) {
		rowdata = $('#listaFases').getRowData(row);
		$("#idFase").val(rowdata.idFase);
		$("#nombreFase").val(rowdata.nombreFase);
		$("#datepickerFase").val(rowdata.fechaInicio);
		$("#datepickerFase2").val(rowdata.fechaFinalizacion);
		$("#descripcionFase").val(rowdata.descripcion);
		$("#estadoFase").val(rowdata.estado);
		$("#idProyectoFase").val(valorProyectoSeleccion());
		

	}

	function abrirDialogoMiembros() {

		var rowProyecto = $('#list').jqGrid('getGridParam', 'selrow');
		if (rowProyecto == null) {
			mostrarMensaje("Atencion",
					"Seleccione el proyecto a cual administrar miembros ");
			return;
		}
		var rowdata = $('#list').getRowData(rowProyecto);
		setAgregarMiembros(rowdata);
		$('#dialogo-agregar-miembros').dialog("open");
	}

	function setAgregarMiembros(rowdata) {
		
		var myPostData = $('#listMiembros').jqGrid("getGridParam", "postData");
		delete myPostData.idProyecto;
		//eso borra el idFase actual
		$('#listMiembros').setGridParam({
		postData: { idProyecto: rowdata.idProyecto  } });
		//eso se setea el nuevo valor
		$('#listMiembros').trigger("reloadGrid");

	}
	
	$.enmascarar = function() {
		$('#presupuesto').number(true, 0);
		$('#nroFases').number(true, 0);
		//$("#presup7uesto").mask("", {placeholder : " "}); 
		//$("#nroFases").mask("?9999999999999", {placeholder : " "}); 
	}

	/* funcion para llamar al formulario agregar un nuevo datos */
	function agregar() {
		/* se indica que se cargará un nuevo dato */
		$.enmascarar();
		setBordeNormal();
		setCampoErrores();
		bandera = 1;
		/* se vacian los elementos HTML de captura de datos */
		$("#nombreProyecto").val("").attr('disabled', false);
		$("#idProjectLeader").val("").attr('disabled', false);
		$("#nombreProjectLeader").val("{{session['username']}}").attr(
				'disabled', true);
		$("#datepicker").val("").attr('disabled', false);
		$("#datepicker2").val("").attr('disabled', false);
		$("#presupuesto").val("").attr('disabled', false);
		$("#nroFases").val("").attr('disabled', false);
		$("#observacion").val("").attr('disabled', false);
		$("#estado").val("").attr('disabled', true);
		/* se llama al dialogo de captura de datos */
		$("#dialogo-proyecto").dialog("open");
	}

	/* funcion para llamar al formulario para la modificación de datos */
	function modificar() {
		/* se indica que el dato no es nuevo */
		bandera = 2;
		$.enmascarar();
		setBordeNormal();
		setCampoErrores();
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a modificar");
			return;
		}
		/* se cargan los elementos HTML segun la fila seleccionada*/
		var rowdata = $('#list').getRowData(row);
		/*alert(rowdata.idProjectLeader)*/
		$("#idProyecto").val(rowdata.idProyecto).attr('disabled', false);
		$("#nombreProyecto").val(rowdata.nombreProyecto)
				.attr('disabled', false);
		$("#idProjectLeader").val(rowdata.idProjectLeader).attr('disabled',
				false);
		$("#nombreProjectLeader").val("{{session['username']}}").attr(
				'disabled', true);
		$("#datepicker").val(rowdata.fechaInicio).attr('disabled', false);
		$("#datepicker2").val(rowdata.fechaFinalizacion)
				.attr('disabled', false);
		$("#presupuesto").val(rowdata.presupuesto).attr('disabled', false);
		$("#nroFases").val(rowdata.nroFases).attr('disabled', false);
		$("#observacion").val(rowdata.observacion).attr('disabled', false);
		$("#estado").val(rowdata.estado).attr('disabled', true);

		/* se llama al dialogo para modificar los datos */
		$("#dialogo-proyecto").dialog("open");
	}

	function consultar() {
		/* se indica que el dato no es nuevo */
		bandera = 3;
		$.enmascarar();
		setBordeNormal();
		setCampoErrores();
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a consultar");
			return;
		}
		/* se cargan los elementos HTML segun la fila seleccionada*/
		var rowdata = $('#list').getRowData(row);
		$("#idProyecto").val(rowdata.idProyecto).attr('disabled', true);
		$("#nombreProyecto").val(rowdata.nombreProyecto).attr('disabled', true);
		$("#idProjectLeader").val("{{session['username']}}").attr('disabled',
				true);
		$("#nombreProjectLeader").val(rowdata.nombreProjectLeader).attr(
				'disabled', true);
		$("#datepicker").val(rowdata.fechaInicio).attr('disabled', true);
		$("#datepicker2").val(rowdata.fechaFinalizacion).attr('disabled', true);
		$("#presupuesto").val(rowdata.presupuesto).attr('disabled', true);
		$("#nroFases").val(rowdata.nroFases).attr('disabled', true);
		$("#observacion").val(rowdata.observacion).attr('disabled', true);
		$("#estado").val(rowdata.estado).attr('disabled', true);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-proyecto").dialog("open");
	}

	function setBordeNormal() {
		$("#nombreProyecto").css('border-color', 'skyblue');
		$("#datepicker").css('border-color', 'skyblue');
		$("#datepicker2").css('border-color', 'skyblue');
		$("#presupuesto").css('border-color', 'skyblue');
		$("#nroFases").css('border-color', 'skyblue');
		$("#observacion").css('border-color', 'skyblue');
	}

	function setCampoErrores() {
		$("#EnombreProyecto").val("");
		$("#Edatepicker").val("");
		$("#Edatepicker2").val("");
		$("#Epresupuesto").val("");
		$("#EnroFases").val("");
		$("#Eobservacion").val("");
	}

	function control() {
		setCampoErrores();
		setBordeNormal();
		var error = 0;
		var len;

		len = $("#nombreProyecto").val().trim().length;
		if (len > 20 || len <= 0) {
			$("#nombreProyecto").css('border-color', 'red');
			$("#EnombreProyecto").val("Campo Obligario. Long. max 20").css(
					'color', 'red');
			error = 1;
		}

		len = $("#datepicker").val().trim().length;
		if (len <= 0) {
			$("#datepicker").css('border-color', 'red');
			$("#Edatepicker").val("Campo Obligario.").css('color', 'red');
			error = 1;
		}
		len = $("#datepicker2").val().trim().length;
		if (len <= 0) {
			$("#datepicker2").css('border-color', 'red');
			$("#Edatepicker2").val("Campo Obligario.").css('color', 'red');
			error = 1;
		}
		if ($("#datepicker2").val() <= $("#datepicker").val()) {
			$("#datepicker2").css('border-color', 'red');
			$("#Edatepicker2").val("Debe ser mayor a Fch. inicio").css('color',
					'red');

		}
		len = $("#nroFases").val().trim().length;
		if (len <= 0 || $("#nroFases").val().trim() == '0') {
			$("#nroFases").css('border-color', 'red');
			$("#EnroFases").val("Debe declarse al menos 1 fase").css('color',
					'red');
			error = 1;
		}

		len = document.getElementById("observacion").value.trim().length;
		//len=$("#observacion").val().trim().length;
		if (len > 50) {
			$("#observacion").css('border-color', 'red');
			$("#Eobservacion").val("Long max 50").css('color', 'red');
			error = 1;
		}
		return error;
	}

	function mostrarMensaje(titulo, mensaje) {
		$('#msgbox').text(mensaje);
		$('#msgbox').dialog({
			title : titulo,
			modal : true,
			show : {
				effect : 'fade',
				duration : 250
			},
			hide : {
				effect : 'fade',
				duration : 200
			},
			buttons : {
				"Ok" : function() {
					$(this).dialog("close");
				}
			}
		});
	}
</script>
<div id='msgbox' title='' style='display: none'></div>

<div id="dialogo-fases" title="Administrar fases de Proyecto">
	<table id="listaFases"></table>
	<div id="pagerFases"></div>
</div>
<div id="dialogo-datos-fase" title="Datos de Fase">
	<form title="(*) campos obligatorios">
		<fieldset class="fieldset">
			<input type="hidden" name="idFase" id="idFase" />
			<table>
				<tr>
					<td><label for="nombreFase" style="display: block">*Nombre Fase</label> 
						<input type="text" name="nombreFase"
						id="nombreFase" class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="fechaInicio" style="display: block">*Fecha de Inicio</label>
						 <input type="text" name="datepickerFase" id="datepickerFase" readonly="readonly"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="fechaFinalizacion" style="display: block">*Fecha de Finalizacion</label> 
						<input type="text" name="datepickerFase2" id="datepickerFase2" readonly="readonly"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
					</td>
						
				</tr>
				<tr>
					<td><label for="descripcion" style="display: block">*Descripcion</label>
						<textarea id="descripcionFase"
							class="text ui-widget-content ui-corner-all"
							style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;">
						</textarea></td>
					<td><label for="estado" style="display: block">*Estado</label>
						<select id="estadoFase"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;"
						class="ui-widget-content ui-corner-all">
							<option value="desarrollo">Desarrollo</option>
							<option value="activo">Activo</option>
							<option value="finalizado">Finalizado</option>
					</select></td>
					<input type="hidden" name="idProyectoFase" id="idProyectoFase" />
				</tr>
			</table>
		</fieldset>
	</form>
</div>


<div id="dialogo-agregar-miembros" title="Agregar Miembros a Proyecto">
	<table id="listMiembros"></table>
	<div id="pagerMiembros"></div>
</div>

<div style="margin-left: auto; margin-right: auto; width: 60%;">
	<h2>Administracion de Proyectos</h2>
	<table id="list"></table>
	<div id="pager"></div>


	<br></br> <input id="btAgregar" type="button" name="nuevo"
		value="Nuevo" onclick='agregar()' /> <input id="btModificar"
		type="button" name="detalle" onclick='modificar();' value="Modificar" />
	<input id="btConsultar" type="button" name="consultar"
		value="Consultar" onclick='consultar()' /> <input
		id="btAgregarMiembros" type="button" name="agregarMiembros"
		value="Agregar Miembros" onclick='abrirDialogoMiembros()' />
		<input
		id="btFases" type="button" name="btFases"
		value="Administrar Fases" onclick='abrirDialogoFases()' />
		<input
		id="btRoles" type="button" name="btRoles"
		value="Administrar Roles" onclick='cargaComboFase()' /> <br></br>
	<script>
		$("#btAgregar").button();
		$("#btModificar").button();
		$("#btConsultar").button();
		$("#btAgregarMiembros").button();
		$("#btFases").button();
		$("#btRoles").button();
	</script>
</div>

<div id="dialogo-roles">

<label for="comboFase" style="display: block ; padding: 0.4em; float:left ">Fase a administrar</label> 
<select id="comboFase" onchange="reloadGridRol()"
style="display: block; margin-bottom: 12px; padding: 0.4em;"
class="ui-widget-content ui-corner-all">
</select>
<table id="listRoles"></table>
<div id="pagerRoles"></div>


</div>

{% endblock %}
</html>