{% extends "base.html" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% block header %}
<title>WAPM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" media="screen"
	href="/static/css/redmond/jquery-ui-1.9.2.custom.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="/static/css/ui.jqgrid.css" />	

<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.maskedinput.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.9.2.custom.js"></script>
<script type="text/javascript" src="/static/js/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/static/js/WebToolKit.MD5.js"></script>

<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(
			function() {

				var grid = jQuery("#list").jqGrid(
						{
							// datatype : "local",
							// data:mydata,
							url : 'http://localhost:5000/listarProyectos',
							datatype : "json",
							mtype : "get",
							colNames : [ 'ID Proyecto', 'Nombre de Proyecto',
							        'Fecha de Inicio', 'ID ProjectLeader', 
							        'Nombre ProjectLeader',
							        'Fecha de finalizacion',
									'Observacion','Numero Fases', 'Presupuesto', 'Estado'],
							colModel : [ {
								name : 'idProyecto',
								index : 'idProyecto',
								width : 200,
								hidden : false
							}, {
								name : 'nombreProyecto',
								index : 'nombreProyecto',
								width : 200
							}, {
								name : 'fechaInicio',
								index : 'fechaInicio',
								width : 200,
								formatter: 'date',
					            sorttype: 'date',
					            datefmt: 'd/m/Y',
					            formatoptions: { srcformat: 'Y-m-d', newformat: 'd/m/Y' }
							}, {
								name : 'idProjectLeader',
								index : 'idProjectLeader',
								width : 200,
								hidden: true
							}, {
								name : 'nombreProjectLeader',
								index : 'nombreProjectLeader',
								width : 200,
								hidden: true
							}, {
								name : 'fechaFinalizacion',
								index : 'fechaFinalizacion',
								width : 200,
								formatter: 'date',
					            sorttype: 'date',
					            datefmt: 'd/m/Y',
					            formatoptions: { srcformat: 'Y-m-d', newformat: 'd/m/Y' }
							}, {  
								name : 'observacion',
								index : 'observacion',
								width : 200,
								hidden : true
							}, {
								name : 'nroFases',
								index : 'nroFases',
								width : 200,
								hidden : true
							}, {
								name : 'presupuesto',
								index : 'presupuesto',
								width : 150
							}, {
								name : 'estado',
								index : 'estado',
								formatter : 'select',
								stype : 'select',
								editoptions : {
									value : "activo:Activo;finalizado:Finalizado"
								},
								hidden : false
								
							}

							],
							sortname : 'nombreProyecto',
							viewrecords : true,
							rownumbers : true,
							sortorder : "desc",
							ignoreCase : true,
							pager : '#pager',
							caption : "Proyectos",
							jsonReader : {
								root : "invdata",
								page : "currpage",
								total : "totalpages",
								records : "totalrecords",
								repeatitems : false,
								id : "idProyecto"
							}

						}).jqGrid('navGrid', '#pager', {
					edit : false,
					add : false,
					del : false,
					search : false,
					refresh : false
				});
				grid.jqGrid('filterToolbar', {
					stringResult : true,
					searchOnEnter : false,
					defaultSearch : "cn"
				});
			});
	//]]>
</script>

<script type="text/javascript">
	jQuery(function($) {
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '&#x3c;Ant',
			nextText : 'Sig&#x3e;',
			currentText : 'Hoy',
			monthNames : [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
					'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
					'Noviembre', 'Diciembre' ],
			monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
					'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
			dayNames : [ 'Domingo', 'Lunes', 'Martes', 'Mi&eacute;rcoles',
					'Jueves', 'Viernes', 'S&aacute;bado' ],
			dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mi&eacute;', 'Juv', 'Vie',
					'S&aacute;b' ],
			dayNamesMin : [ 'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'S&aacute;' ],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
	});

	$(document).ready(function() {
		$("#datepicker").datepicker();
	});
	
	$(document).ready(function() {
		$("#datepicker2").datepicker();
	});
</script>

<!-- Formulario HTML para la carga de datos a ser inicializado por JqGrid -->
<div id="dialogo-datos-cliente" title="Datos de Proyecto">
	<form>
		<fieldset>
			<input type="hidden" name="idProyecto" id="idProyecto" /> 

			<label for="nombreProyecto" style="display: block">Nombre Proyecto</label> <input
				type="text" name="nombreProyecto" id="nombreProyecto"
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
				
			<input type="hidden" name="idProjectLeader" id="idProjectLeader" /> 
				
			<label for="nombreProjectLeader" style="display: block">Nombre de ProjectLeader</label> <input
				type="text" name="nombreProjectLeader" id="nombreProjectLeader" 
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />

			<label for="fechaInicio" style="display: block">Fecha de Inicio</label> <input
				type="text" name="datepicker" id="datepicker" readonly="readonly"
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
			
			
			<label for="fechaFinalizacion" style="display: block">Fecha de Finalizacion</label> <input
				type="text" name="datepicker2" id="datepicker2" readonly="readonly"
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
			
			<label for="presupuesto" style="display: block">Presupuesto</label> <input
				type="text" name="presupuesto" id="presupuesto" value=""
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
				
			<label for="nroFases" style="display: block">Numero de fases</label> <input
				type="text" name="nroFases" id="nroFases" value=""
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />

			<label for="observacion" style="display: block">Observacion</label> <input
				type="text" name="observacion" id="observacion" value=""
				class="text ui-widget-content ui-corner-all"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 100%;" />
			<label for="estado" style="display: block">Estado</label> <select
				id="estado"
				style="display: block; margin-bottom: 12px; padding: 0.4em; width: 50%;"
				class="ui-widget-content ui-corner-all">
				<option value="activo">Activo</option>
				<option value="finalizado">Finalizado</option>
			</select>
			
		</fieldset>
	</form>
</div>
{% endblock %} 
{% block body %}
<script>
	/* variable permite indicar si se está cargando un nuevo item de datos */
	var bandera;
	/* inicialización del dialogo JQuery que permite tomar los datos de cliente */
	$("#dialogo-datos-cliente")
			.dialog(
					{
						autoOpen : false,
						width : 600,
						modal : true,
						resizable : false,
						buttons : {
							/* funcion asociado al boton aceptar */
							"Aceptar" : function() {
								/* si el dato es nuevo se llamar a la url para agregar */
								if (bandera == 1) { /*si bandera==1 entonces es nuevo proyecto*/
									/* se indica la URL */
									$.post(
											'/agregarProyecto/',
											{ /* se indican los parametros*/
												nombreProyecto : $(
														"#nombreProyecto")
														.val(),
												fechaInicio : $("#datepicker")
														.val(),
												fechaFinal : $(
														"#datepicker2")
														.val(),
												presupuesto : $(
														"#presupuesto")
														.val(),		
												nroFases : $("#nroFases")
														.val(),
												observacion : $(
														"#observacion")
														.val(),
												idProjectLeader :
														$(
														"#idProjectLeader")
														.val(),
												estado : $(
														"#estado")
														.val()
												
											},
											function(data, status) {
												/* funcion que maneja el resultruc : $("#ruc").val(),ado de la invocación */

												/* si hay error se muestra el mensaje*/
												if (data.substring(0, 1) == 't') {
													mostrarMensaje(
															"Error",
															"Los datos no se han podido guardar:\n"
																	+ data
																			.substring(2));
													/* se indica que no hubieron errores */
												} else {
													$("#dialogo-datos-cliente").dialog("close");
													mostrarMensaje("Exito",data.substring(2));
												}
												/* se indicar la recarga de la tabla */
												$('#list').trigger(
														"reloadGrid");
											});

									/* si el dato se modifica se llama a la url para modificar*/
								} else if (bandera == 2) {
									/* se indica la url */
									$
											.post(
													'/modificarProyecto',
													{
														idProyecto : $(
																"#idProyecto")
																.val(),
														nombreProyecto : $(
																"#nombreProyecto")
																.val(),
														fechaInicio : $("#datepicker").val(),
														fechaFinalizacion: $("#datepicker2")
																.val(),
														presupuesto: $(
																"#presupuesto")
																.val(),
														nroFases: $(
																"#nroFases")
																.val(),
														activo : $("#activo")
																.val(),
														observacion : $(
																"#observacion")
																.val(),
														idProjectLeader :{{session['username']}},
														estado : $(
																"#estado")
																.val()

													},
													function(data, status) {

														if (data
																.substring(0, 1) == 't') {
															mostrarMensaje("Error","Los datos no se han podido modificar:\n"
																			+ data.substring(2));
														} else {
															$("#dialogo-datos-cliente").dialog("close");
															mostrarMensaje(
																	"Exito",
																	"Los datos han sido modificados");
														}
														$('#list').trigger(
																"reloadGrid");
													});
								} else if (bandera == 3) {
									$(this).dialog("close");
								}
							},
							"Cancelar" : function() {
								$(this).dialog("close");
							}
						}
					});

	/* funcion para llamar al formulario agregar un nuevo datos */
	function agregar() {
		/* se indica que se cargará un nuevo dato */
		bandera = 1;
		/* se vacian los elementos HTML de captura de datos */
		$("#nombreProyecto").val("").attr('disabled', false);
		$("#idProjectLeader").val("").attr('disabled', false);
		$("#nombreProjectLeader").val("").attr('disabled', false);
		$("#datepicker").val("").attr('disabled', false);
		$("#datepicker2").val("").attr('disabled', false);
		$("#presupuesto").val("").attr('disabled', false);
		$("#nroFases").val("").attr('disabled', false);
		$("#observacion").val("").attr('disabled', false);
		$("#estado").val("").attr('disabled',true);
		/* se llama al dialogo de captura de datos */
		$("#dialogo-datos-cliente").dialog("open");
	}

	/* funcion para llamar al formulario para la modificación de datos */
	function modificar() {
		/* se indica que el dato no es nuevo */
		bandera = 2;
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a modificar");
			return;
		}
		/* se cargan los elementos HTML segun la fila seleccionada*/
		var rowdata = $('#list').getRowData(row);
		/*alert(rowdata.idProjectLeader)*/
		$("#idProyecto").val(rowdata.idProyecto).attr('disabled', false);
		$("#nombreProyecto").val(rowdata.nombreProyecto).attr('disabled', false);
		$("#idProjectLeader").val(rowdata.idProjectLeader).attr('disabled', false);
		$("#nombreProjectLeader").val(rowdata.nombreProjectLeader).attr('disabled', false);
		$("#datepicker").val(rowdata.fechaInicio).attr('disabled', false);
		$("#datepicker2").val(rowdata.fechaFinalizacion).attr('disabled', false);
		$("#presupuesto").val(rowdata.presupuesto).attr('disabled', false);
		$("#nroFases").val(rowdata.nroFases).attr('disabled', false);
		$("#observacion").val(rowdata.observacion).attr('disabled', false);
		$("#estado").val(rowdata.estado).attr('disabled',true);
		
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-datos-cliente").dialog("open");
	}

	function consultar() {
		/* se indica que el dato no es nuevo */
		bandera = 3;
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a consultar");
			return;
		}
		/* se cargan los elementos HTML segun la fila seleccionada*/
		var rowdata = $('#list').getRowData(row);
		$("#idProyecto").val(rowdata.idProyecto).attr('disabled', true);
		$("#nombreProyecto").val(rowdata.nombreProyecto).attr('disabled', true);
		$("#idProjectLeader").val(rowdata.idProjectLeader).attr('disabled', true);
		$("#nombreProjectLeader").val(rowdata.nombreProjectLeader).attr('disabled', true);
		$("#datepicker").val(rowdata.fechaInicio).attr('disabled', true);
		$("#datepicker2").val(rowdata.fechaFinalizacion).attr('disabled', true);
		$("#presupuesto").val(rowdata.presupuesto).attr('disabled', true);
		$("#nroFases").val(rowdata.nroFases).attr('disabled', true);
		$("#observacion").val(rowdata.observacion).attr('disabled', true);
		$("#estado").val(rowdata.estado).attr('disabled',true);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-datos-cliente").dialog("open");
	}
	

	function mostrarMensaje(titulo, mensaje) {
		$('#msgbox').text(mensaje);
		$('#msgbox').dialog({
			title : titulo,
			modal : true,
			buttons : {
				"Ok" : function() {
					$(this).dialog("close");
				}
			}
		});
	}
</script>
<div id='msgbox' title='' style='display: none'></div>



<tr>
	<td><div>
			<table id="list"></table>
			<div id="pager"></div>
		</div></td>
	<td><div>

			<input type="button" name="nuevo" value="Nuevo" onclick='agregar()' />
			<input type="button" name="detalle" onclick='modificar();'
				value="Modificar" /> <input type="button" name="consultar"
				value="Consultar" onclick='consultar()' />

		</div></td>
</tr>


{% endblock %}
</html>