{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% block header %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
	/*###################################################################*/
	function cargaCombo(){
		$.getJSON("http://localhost:5000/listarProyectoCombo", function(atribs) {

			var select = $('#comboProyecto');
			var options = select.prop('options');
			//alert ('hola')
			
			$('option', select).remove();
			options[0] = new Option("--Seleccione un proyecto--","0");
			var index=0
			$.each(atribs, function(index,atrib) {
			index=index+1;
			options[options.length] = new Option(index+" : "+atrib.nombreProyecto,atrib.idProyecto);
			
			})		
	})}
	
	function reloadGridRol(){
		
		$("#comboFase option[value='0']").remove();
		var myPostData = $('#list').jqGrid("getGridParam", "postData");
		delete myPostData.idFase;
		//eso borra el idFase actual
		$('#list').setGridParam({
		postData: { idFase: comboFaseSeleccion() } });
		//eso se setea el nuevo valor
		$('#list').trigger("reloadGrid");

		
	}
	function reloadComboFase(){
		
		$("#comboProyecto option[value='0']").remove();
		cargaComboFase();
	}
	
	function cargaComboFase(){
		$.post('/listarComboFases/',
				{ /* se indican los parametros*/
					idProyecto :$('#comboProyecto').val()
				},
				function(data, status) {
					var select = $('#comboFase');
					var options = select.prop('options');
					
					$('option', select).remove();
					options[0] = new Option("--Seleccione una Fase--","0");
					var index=0
					
					data = $.parseJSON( data );
					//var jsonData = JSON.stringify(eval("(" + data + ")"));
					$.each(data, function(index,fase) {
						index=index+1;
						options[options.length] = new Option(index+" : "+fase.nombreFase,fase.idFase);
					})
				}
			);		
	}
	
	function comboProyectoSeleccion()
	{
		return $('#comboProyecto').val()
		
	}
	
	function comboFaseSeleccion()
	{
		return $('#comboFase').val()
		
	}
	

	/*#####################################################################*/
	jQuery(document).ready(
			function() {
				
				cargaCombo()
				var grid = jQuery("#list").jqGrid(
						{

							// datatype : "local",
							// data:mydata,
							url : 'http://localhost:5000/listarRolProyecto',
							datatype : "json",
							mtype : "get",
							postData: { idFase : comboFaseSeleccion()},
							show : {
								effect : 'fade',
								duration : 200
							},
							
							hide : {
								effect : 'fade',
								duration : 200
							},
							colNames : [ 'ID rol ', 'Nombre',
									'Descripcion', 'listaPermisos' ],
							colModel : [ {
								name : 'idRol',
								index : 'idRol',
								hidden : true
							}, {
								name : 'nombre',
								index : 'nombre',
							}, {
								name : 'descripcion',
								index : 'descripcion',

							}							
							, {
								name : 'listaPermisos',
								index : 'listaPermisos',
								hidden : true
							}

							],
							sortname : 'nombre',
							viewrecords : true,
							rownumbers : true,
							sortorder : "desc",
							ignoreCase : true,
							pager : '#pager',
							caption : "Lista de Roles",
							jsonReader : {
								root : "invdata",
								page : "currpage",
								total : "totalpages",
								records : "totalrecords",
								repeatitems : false,
								id : "idUsuario"
							}

						}).jqGrid('navGrid', '#pager', {
					edit : false,
					add : false,
					del : false,
					search : false,
					refresh : true
				});
				grid.jqGrid('filterToolbar', {
					stringResult : true,
					searchOnEnter : false,
					defaultSearch : "cn"
				});
			}
					
	);
	//]] 
</script>

<!-- Formulario HTML para la carga de datos a ser inicializado por JqGrid -->
<style type="text/css">
.fieldset {
	width: auto;
	border: 0;
}
</style>




<div id="dialogo-rolProyecto" title="Roles de proyecto">





	<form title="(*) campos obligatorios">
		<fieldset class="fieldset">

			<input type="hidden" name="idRol" id="idRol" />
			<table id="table1c" style="float: left; padding: 0.4em;">
				<tr>
					<td><label for="nombre" style="display: block">*Nombre del Rol</label>
						<input title="20 caracteres max" type="text" name="nombre"
						id="nombre"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
					<td><br></br> <input title="20 caracteres max" readonly
						tabIndex="-1" type="text" name="Enombre"
						id="Enombre"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				<tr>
					<td><label for="descripcion" style="display: block">*Descripcion</label>
						<textarea type="text" name="descripcion" id="descripcion"
						style="width: 200px; display: block; margin-bottom: 12px; padding: 0.4em;"> </textarea></td>
					<td><br></br> <input title="20 caracteres max" readonly
						tabIndex="-1" type="text" name="Edescripcion"
						id="Edescripcion"
						style="width: 200px; border: none; display: block; margin-bottom: 12px; padding: 0.4em;" />
					</td>
				</tr>
				
			</table>
		</fieldset>
		
	</form>
</div>
<div id="dialogo-permisos">
<table id="listPermisos"></table>
<div id="pagerPermisos"></div>
</div>
<script>
	/* variable permite indicar si se está cargando un nuevo item de datos */
	var bandera;
	
	/* ################################################################################## */
	
	function abrirDialogoPermisos() {

		var rowRol = $('#list').jqGrid('getGridParam', 'selrow');
		if (rowRol == null) {
			mostrarMensaje("Atencion",
					"Seleccione el Rol a cual administrar permisos ");
			return;
		}
		$("#listPermisos").GridUnload();
		$('#listPermisos').trigger(
		"reloadGrid");
		var rowdata = $('#list').getRowData(rowRol);
		agregarPermisos(rowdata);
		$('#dialogo-permisos').dialog("open");
	}
	$('#dialogo-permisos')
			.dialog(
					{
						autoOpen : false,
						modal : true,
						resizable : true,
						width : 'auto',
						show : {
							effect : 'fade',
							duration : 400
						},
						hide : {
							effect : 'fade',
							duration : 350
						},
						buttons : {
							/* funcion asociado al boton aceptar */
							"Agregar" : function() {
								/* se pregunta si es que se selecciono la fila en proyectos, y en lel grid de users */
								var rowPermisos = $('#listPermisos').jqGrid(
										'getGridParam', 'selrow');
								var rowRol = $('#list').jqGrid(
										'getGridParam', 'selrow');
								
								if (rowPermisos == null) {
									mostrarMensaje("Atencion",
											"Seleccione el Usuario a agregar");
									return;
								}
								if (rowRol == null) {
									mostrarMensaje("Atencion",
											"Seleccione el Rol");
									return;
								}

								var rowdata = $('#list')
										.getRowData(rowRol);
								
								var rowdataPermisos = $('#listPermisos')
										.getRowData(rowPermisos);
								/* se indica la URL */
								
								$.post('/agregarPermisoRol/',
												{ /* se indican los parametros*/
													idRol : rowdata.idRol,
													idPermiso : rowdataPermisos.idPermiso

												},
												function(data, status) {
													/* funcion que maneja el resultruc : $("#ruc").val(),ado de la invocación */

													/* si hay error se muestra el mensaje*/
													if (data.substring(0, 1) == 't') {
														mostrarMensaje(
																"Error",
																"Los datos no se han podido guardar:\n"
																		+ data
																				.substring(2));
														/* se indica que no hubieron errores */
													} else {
														mostrarMensaje(
																"Exito",
																data
																		.substring(2));
													}
													/* se indicar la recarga de la tabla */
													$('#listPermisos').trigger(
															"reloadGrid");
												});
							},
							"Quitar" : function() {
								var rowPermisos = $('#listPermisos').jqGrid(
										'getGridParam', 'selrow');
								if (rowPermisos == null) {
									mostrarMensaje("Atencion",
											"Seleccione el Permiso a eliminar");
									return;
								}
								var rowRol = $('#list').jqGrid(
										'getGridParam', 'selrow');
								if (rowRol == null) {
									mostrarMensaje("Atencion",
											"Seleccione el Rol");
									return;
								}

								var rowdata = $('#list')
										.getRowData(rowRol);
								var rowdataPermisos = $('#listPermisos')
										.getRowData(rowPermisos);
								/* se indica la url */
								$.post('/quitarPermisoRol/',
												{
													idRol : rowdata.idRol,
													idPermiso : rowdataPermisos.idPermiso
												},
												function(data, status) {

													if (data.substring(0, 1) == 't') {
														mostrarMensaje(
																"Error",
																"Permiso no se ha podido quitar:\n"
																		+ data
																				.substring(2));
													} else {
														mostrarMensaje("Exito",
																"Permiso ha sido quitado del Rol");
													}
													$('#listPermisos').trigger(
															"reloadGrid");
												});
							},
							"Salir" : function() {
								$(this).dialog("close");
							}
						}
					});

	
	
	
	function agregarPermisos(rowdata) {
		//var rowMiembros = $('#listMiembros').jqGrid('getGridParam', 'selrow');

		//var rowdataMiembros = $('#listMiembros').getRowData(rowMiembros);
		var grid = jQuery("#listPermisos").jqGrid(
				{

					// datatype : "local",
					// data:mydata,
					url : 'http://localhost:5000/listarPermisosRol',
					datatype : "json",
					width : 'auto',
					mtype : "get",
					postData : {
						idRol : rowdata.idRol
					},
					show : {
						effect : 'fade',
						duration : 400
					},
					hide : {
						effect : 'fade',
						duration : 350
					},
					colNames : [ 'idPermiso','Nombre ', 'Descripcion', 'Asignado a Rol'],
					colModel : [ {
						name : 'idPermiso',
						index : 'idPermiso',
						
						hidden : true
					}, {
						name : 'nombre',
						index : 'nombre',
						
					}, {
						name : 'descripcion',
						index : 'descripcion',
						width : '260%',
					}, {
						name : 'enRol',
						index : 'enRol',
						align : "center",
						
						formatter : 'select',
						stype : 'select',
						
						editoptions : {
							value : "Todos:Todos;Si:Si;No:No"
						},
					}],
					sortname : 'nombre',
					viewrecords : true,
					rownumbers : true,
					sortorder : "desc",
					ignoreCase : true,
					pager : '#pagerPermisos',
					caption : "Lista de Permisos",
					jsonReader : {
						root : "invdata",
						page : "currpage",
						total : "totalpages",
						records : "totalrecords",
						repeatitems : false,
						id : "idPermiso"
					}

				}).jqGrid('navGrid', '#pagerPermisos', {
			edit : false,
			add : false,
			del : false,
			search : false,
			refresh : false
		});
		grid.jqGrid('filterToolbar', {
			stringResult : true,
			searchOnEnter : false,
			defaultSearch : "cn"
		});
	};

	
	/* ################################################################################## */
	
		
	/* inicialización del dialogo JQuery que permite tomar los datos de cliente */
		$("#dialogo-rolProyecto")
			.dialog(
					{
						autoOpen : false,
						modal : true,
						overflow : scroll,
						resizable : false,
						
						width : 'auto',
						
						show : {
							effect : 'fade',
							duration : 400
						},
						hide : {
							effect : 'fade',
							duration : 350
						},
						buttons : {
							/* funcion asociado al boton aceptar */
							"Aceptar" : function() {
								/* si el dato es nuevo se llamar a la url para agregar */
								if (bandera == 1) {
									/* se indica la URL */
									if (control(true) == 1) {
										mostrarMensaje("Error",
												"Campos completados incorrectamente");
									} else {
										$.post('/agregarRolProyecto/',{
														/* se indican los parametros*/
														nombre : $(
																"#nombre")
																.val(),
														idFase : $(
														"#comboFase").val(),		
														descripcion : $("#descripcion").val(), 
														idRol: "0"
														},
														function(data, status) {
															/* funcion que maneja el resulado de la invocación */
	
															/* si hay error se muestra el mensaje*/
															if (data.substring(
																	0, 1) == 't') {
																mostrarMensaje(
																		"Error",
																		"Los datos no se han podido guardar:\n"
																				+ data
																						.substring(2));
																/* se indica que no hubieron errores */
															} else {
																$(
																		"#dialogo-rolProyecto")
																		.dialog(
																				"close");
																mostrarMensaje(
																		"Exito",
																		data
																				.substring(2));
															}
															/* se indicar la recarga de la tabla */
															$('#list')
																	.trigger(
																			"reloadGrid");
														});
									}

									/* si el dato se modifica se llama a la url para modificar*/
								} else if (bandera == 2) {
									if (control(false) == 1) {
										mostrarMensaje("Error",
												"Campos completados incorrectamente");
									} else {

										/* se indica la url */
										$
												.post(
														'/modificarRolProyecto/',
														{
															idRol: $("#idRol").val(),
															nombre : $("#nombre").val(),
															descripcion : $("#descripcion").val()
														},
														function(data, status) {

															if (data.substring(
																	0, 1) == 't') {
																mostrarMensaje(
																		"Error",
																		"Los datos no se han podido modificar:\n"
																				+ data
																						.substring(2));
															} else {
																$(
																		"#dialogo-rolProyecto")
																		.dialog(
																				"close");
																mostrarMensaje(
																		"Exito",
																		"Los datos han sido modificados");
															}
															$('#list')
																	.trigger(
																			"reloadGrid");
														});
									}
								} else if (bandera == 3) {
									$(this).dialog("close");
								}
							},
							"Cancelar" : function() {
								$(this).dialog("close");
							}
						}
					});

	function cargarForm(rowdata, row) {
		rowdata = $('#list').getRowData(row);
		$("#idRol").val(rowdata.idRol);
		$("#nombre").val(rowdata.nombre);
		$("#descripcion").val(rowdata.descripcion);
		}

	function setCamposDisabled(habilitar) {
		$("#nombre").attr('disabled', habilitar);
		$("#descripcion").attr('disabled', habilitar);
	}

	function setBordeNormal() {
		$("#nombre").css('border-color', 'skyblue');
		$("#descripcion").css('border-color', 'skyblue');
	}
	
	function setCampoErrores(){
		$("#Enombre").val("");
		$("#Edescripcion").val("");
	}
	
	function control(esNuevo) {
		setCampoErrores();
		setBordeNormal();
		var error = 0;
		var len;

		len = $("#nombre").val().trim().length;
		if (len > 20 || len <= 0) {
			$("#nombre").css('border-color', 'red');
			$("#Enombre").val("Campo Obligario. Long. max 20").css('color', 'red');	
			error = 1;
		}


		len = $("#descripcion").val().trim().length;
		if (len > 50 || len <= 0) {
			$("#descripcion").css('border-color', 'red');
			$("#Edescripcion").val("Campo Obligario. Long. max 50").css('color', 'red');	
			error = 1;
		}		return error;
	}
	
	/* funcion para llamar al formulario agregar un nuevo datos */
	function agregar() {
		setBordeNormal();
		setCampoErrores();
		bandera = 1;

		/* se vacian los elementos HTML de captura de datos */
		$("#idRol").val("");
		$("#nombre").val("");
		$("#descripcion").val("");
		
		/* se llama al dialogo de captura de datos */
		setCamposDisabled(false);
		if($("#comboProyecto").val()==0){
			 mostrarMensaje("Error", "Se debe seleccionar Proyecto para agregar nuevo Rol ")
		}else if($("#comboFase").val()==0){
			mostrarMensaje("Error", "Se debe seleccionar fase para agregar nuevo Rol")
		}
		else{
			$("#dialogo-rolProyecto").dialog("open");
		}
	}
	

	/* funcion para llamar al formulario para la modificación de datos */
	function modificar() {

		setBordeNormal();
		setCampoErrores();
		/* se indica que el dato no es nuevo */
		bandera = 2;
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a modificar");
			return;
		}
		var rowdata;
		/* se cargan los elementos HTML segun la fila seleccionada*/
		cargarForm(rowdata, row);
		/*se habilita la edicion*/
		setCamposDisabled(false);
		
		$("#dialogo-rolProyecto").dialog("open");

	}

	function consultar() {
		setBordeNormal();
		setCampoErrores();

		//$('#idEstado').detach().attr('type', 'text').attr('disabled',true).insertAfter('#activo').val($('#activo').val());
		//cambia el comboBox por un campo disabled del estado 
		//$('#activo').hide();
		/* se indica que el dato no es nuevo */
		bandera = 3;
		/* se comprueba que hay un dato seleccionado para consultar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a consultar");
			return;
		}
		var rowdata;
		/* se cargan los elementos HTML segun la fila seleccionada*/
		cargarForm(rowdata, row);
		/*se inhabilita la edicion*/
		rowdata = $('#list').getRowData(row);
		setCamposDisabled(true);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-rolProyecto").dialog("open");
	}
	/* funcion que maneja la accion de desactivar un cliente*/
	
	function mostrarMensaje(titulo, mensaje) {
		$('#msgbox').text(mensaje);
		$('#msgbox').dialog({
			title : titulo,
			modal : true,
			width : 'auto',
			buttons : {
				"Ok" : function() {
					$(this).dialog("close");
				}
			}
		});
	}
</script>
<div id='msgbox' title='' style='display: none'></div>

{% endblock %} {% block body %}


<div>
<label for="comboProyecto" style="display: block ; padding: 0.4em; float:left ">Administrar un proyecto</label> 
<select id="comboProyecto" onchange="reloadComboFase()"
style="display: block; margin-bottom: 12px; padding: 0.4em;"
class="ui-widget-content ui-corner-all">
 <option value="0">--Seleccione una fase--</option>
 <option value="1">fase1</option>
 <option value="2">fase2</option>

</select>
</div>
<br></br>

<div>
<label for="comboFase" style="display: block ; padding: 0.4em; float:left ">Fase a administrar</label> 
<select id="comboFase" onchange="reloadGridRol()"
style="display: block; margin-bottom: 12px; padding: 0.4em;"
class="ui-widget-content ui-corner-all">
</select>
</div>
<br></br>


<tr>
	<td><div>
			<table id="list"></table>
			<div id="pager"></div>
		</div></td>
	<td><div>
			<br></br> <input id="btAgregar" type="button" name="nuevo"
				value="Nuevo" onclick='agregar()' /> <input id="btModificar"
				type="button" name="detalle" onclick='modificar();'
				value="Modificar" /> 
			<input id="btConsultar" type="button" name="consultar"
				value="Consultar" onclick='consultar()' />
			<input id="btAdminPermisos" type="button" name="btAdminPermisos"
				value="Administrar Permisos" onclick='abrirDialogoPermisos()' />	
				 <br></br>
			<script>
				$("#btAgregar").button();
				$("#btModificar").button();
				$("#btConsultar").button();
				$("#btAdminPermisos").button();
			</script>
		</div></td>

</tr>


{% endblock %}
</html>