{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% block header %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




<script type="text/javascript">
	//<![CDATA[
	jQuery(document)
			.ready(
					function() {
						
						var grid = jQuery("#list")
								.jqGrid(
										{

											// datatype : "local",
											// data:mydata,
											url : 'http://localhost:5000/listarUsuarios',
											datatype : "json",
											mtype : "get",
											colNames : [ 'ID Usuario ',
													'Cedula',
													'Nombre de Usuario',
													'Nombre', 'Apellido',
													'Password', 'Email',
													'Direccion', 'Telefono',
													'pl','admin',
													'Observacion', 'Activo' ],
											colModel : [
													{
														name : 'idUsuario',
														index : 'idUsuario',
														
														hidden : true
													},
													{
														name : 'ci',
														index : 'ci',
														
														hidden : true
													},
													{
														name : 'nombreUsuario',
														index : 'nombreUsuario',
														
													},
													{
														name : 'nombre',
														index : 'nombre',
														
													},
													{
														name : 'apellido',
														index : 'apellido',
														
													},
													{
														name : 'pass',
														index : 'pass',
														
														hidden : true
													},
													{
														name : 'email',
														index : 'email',
														
													},
													{
														name : 'direccion',
														index : 'direccion',
														
														hidden : true
													},
													{
														name : 'pl',
														index : 'pl',
														hidden : true
													},
													{
														name : 'admin',
														index : 'admin',
														hidden : true
													},
													{
														name : 'telefono',
														index : 'telefono',
														
														hidden : true
													},
													{
														name : 'observacion',
														index : 'observacion',
														
														hidden : true
													},
													{
														name : 'activo',
														index : 'activo',
														formatter : 'select',
														stype : 'select',
														editoptions : {
															value : "true:Activo;false:Inactivo"
														},
														hidden : false
													}

											],
											sortname : 'nombreUsuario',
											viewrecords : true,
											rownumbers : true,
											sortorder : "desc",
											ignoreCase : true,
											pager : '#pager',
											caption : "Lista de Usuarios",
											jsonReader : {
												root : "invdata",
												page : "currpage",
												total : "totalpages",
												records : "totalrecords",
												repeatitems : false,
												id : "idUsuario"
											}

										}).jqGrid('navGrid', '#pager', {
									edit : false,
									add : false,
									del : false,
									search : false,
									refresh : true
								});
						grid.jqGrid('filterToolbar', {
							stringResult : true,
							searchOnEnter : false,
							defaultSearch : "cn"
						});
					});
	//]]>
</script>



<!-- Formulario HTML para la carga de datos a ser inicializado por JqGrid -->
<style type="text/css">
.fieldset {
	width: 500px;
	border: 0;
}
</style>
<!-- cambiar contraseña -->
<div id="dialogoPass" title="Modificacion de Pass del Usuario">
	<form >
		<fieldset class="fieldset">
				<input type="hidden" name="passControl" id="passControl" />
				<input type="hidden" name="idControl" id="idControl" />
				<table>
					<tr>
						<td><label for="Actual" style="display: block">Pass Actual</label>
						    <input type="password" name="passActual"
							id="passActual" class="text ui-widget-content ui-corner-all"
							style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
						</td>
						<td><label for="Nuevo" style="display: block">Password Nuevo</label>
							<input type="password" name="passNuevo" id="passNuevo"
							class="text ui-widget-content ui-corner-all"
							style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>				
				


<div id="dialogo-datos-cliente" title="Datos de Usuarios">
	<form title="(*) campos obligatorios">
		<fieldset class="fieldset" style="width: 100%;" >
			<input type="hidden" name="idUsuario" id="idUsuario" />
			<table>
				<tr>
					<td><label for="name" style="display: block">*Username</label> 
					<input type="text" name="nombreUsuario"
						id="nombreUsuario" class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
					<td><label for="pass" style="display: block">*Password</label>
						<input type="password" name="pass" id="pass"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
					<td>
					<input id="checkPL" type="checkbox">Es project Leader</input>	
					<br></br>
					<input id="checkAdmin" type="checkbox">Es Administrador</input>
					</td>
				</tr>
				<tr>
					<td><label for="ci" style="display: block">*Cedula</label> <input
						type="text" name="ci" id="ci"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%; text-align: right;" />
					</td>
					<td><label for="name" style="display: block">*Nombre</label> <input
						type="text" name="nombre" id="nombre"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
					<td><label for="apellido" style="display: block">*Apellido</label>
						<input type="text" name="apellido" id="apellido"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
				</tr>
				<tr>
					<td><label for="email" style="display: block">*E-mail</label>
						<input type="text" name="email" id="email"
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
					<td><label for="direccion" style="display: block">Dirección</label>
						<input type="text" name="direccion" id="direccion" value=""
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
					<td><label for="telefono" style="display: block">Telefono</label>
						<input type="text" name="telefono" id="telefono" value=""
						class="text ui-widget-content ui-corner-all"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;" />
					</td>
				</tr>
				<tr>
					<td><label for="observacion" style="display: block">Observacion</label>
						<textarea id="observacion"
							class="text ui-widget-content ui-corner-all"
							style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;">
			</textarea></td>
					<td><label for="activo" style="display: block">Estado</label>
						<select id="activo"
						style="display: block; margin-bottom: 12px; padding: 0.4em; width: 80%;"
						class="ui-widget-content ui-corner-all">
							<option value="true">Activo</option>
							<option value="false">Inactivo</option>
					</select></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>

<script>
	/* variable permite indicar si se está cargando un nuevo item de datos */
	var bandera;
	/* inicialización del dialogo JQuery que permite tomar los datos de cliente */
	$("#dialogoPass")
			.dialog(
					{
						autoOpen : false,
						modal : true,
						resizable : false,
						width : 650,
						buttons : {
							"Aceptar" : function() {
								passMd5= MD5($("#passActual").val().trim());
								if(passMd5 != $("#passControl").val() ){
									
									mostrarMensaje(
											"Error",
											"El pass actual introducido es erroneo"
													);
									
								}else{
										if ($("#passNuevo").val().trim().length > 1)
											{
												passMd5= MD5($("#passNuevo").val())
												$.post('modificarUsuario',{ 
													idUsuario : $(
													"#idControl")
													.val(),
													passNuevo : passMd5 
												},
												function(data, status) {
													/* si hay error se muestra el mensaje*/
														$("#dialogoPass").dialog("close");
														mostrarMensaje("Exito",data.substring(2));
														$('#list')
														.trigger(
																"reloadGrid");
												});
											}else{
												mostrarMensaje(
														"Error",
														"Se debe especificar el nuevo Pass"
																);
											}
									}
									
							},
							"Cancelar" : function() {
								$(this).dialog("close");
							}
						}
					});
					
	$("#dialogo-datos-cliente")
			.dialog(
					{
						autoOpen : false,
						modal : true,
						resizable : false,
						width : 580,
						buttons : {
							/* funcion asociado al boton aceptar */
							"Aceptar" : function() {
								/* si el dato es nuevo se llamar a la url para agregar */
								if (bandera == 1) {
									/* se indica la URL */
									if (control(true) == 1) {
										mostrarMensaje("Error",
												"Campos completados incorrectamente");
									} else {
										var passCd= MD5($("#pass").val());
										
										listaRS=["0","0"];
										if ($('#checkPL').is(":checked")){
											
											listaRS[0]="1"
										}
										if ($('#checkAdmin').is(":checked")){
											listaRS[1]="1"
											
										}
										rolSistemaJSON=JSON.stringify(listaRS);	
										
										$.post('/agregarUsuario/',{ 
											/* se indican los parametros*/
															rolSistema: rolSistemaJSON,
															nombreUsuario : $(
																	"#nombreUsuario")
																	.val(),
															password : passCd,
															ci : $("#ci").val(),
															nombre : $(
																	"#nombre")
																	.val(),
															apellido : $(
																	"#apellido")
																	.val(),
															email : $("#email")
																	.val(),
															direccion : $(
																	"#direccion")
																	.val(),
															telefono : $(
																	"#telefono")
																	.val(),
															observacion : $(
																	"#observacion")
																	.val(),
															activo : $(
																	"#activo")
																	.val()
														},
														function(data, status) {
															/* funcion que maneja el resultruc : $("#ruc").val(),ado de la invocación */

															/* si hay error se muestra el mensaje*/
															if (data.substring(
																	0, 1) == 't') {
																mostrarMensaje(
																		"Error",
																		"Los datos no se han podido guardar:\n"
																				+ data
																						.substring(2));
																/* se indica que no hubieron errores */
															} else {
																$(
																		"#dialogo-datos-cliente")
																		.dialog(
																				"close");
																mostrarMensaje(
																		"Exito",
																		data
																				.substring(2));
															}
															/* se indicar la recarga de la tabla */
															$('#list')
																	.trigger(
																			"reloadGrid");
														});
									}

									/* si el dato se modifica se llama a la url para modificar*/
								} else if (bandera == 2) {
									if (control(false) == 1) {
										mostrarMensaje("Error",
												"Campos completados incorrectamente");
									} else {
										
										/* se indica la url */
										$
												.post(
														'modificarUsuario',
														{
															idUsuario : $(
																	"#idUsuario")
																	.val(),
															nombreUsuario : $(
																	"#nombreUsuario")
																	.val(),
															password : $(
																	"#pass")
																	.val(),
															ci : $("#ci").val(),
															nombre : $(
																	"#nombre")
																	.val(),
															apellido : $(
																	"#apellido")
																	.val(),
															email : $("#email")
																	.val(),
															direccion : $(
																	"#direccion")
																	.val(),
															telefono : $(
																	"#telefono")
																	.val(),
															activo : $(
																	"#activo")
																	.val(),
															observacion : $(
																	"#observacion")
																	.val()
														},
														function(data, status) {

															if (data.substring(
																	0, 1) == 't') {
																mostrarMensaje(
																		"Error",
																		"Los datos no se han podido modificar:\n"
																				+ data
																						.substring(2));
															} else {
																$(
																		"#dialogo-datos-cliente")
																		.dialog(
																				"close");
																mostrarMensaje(
																		"Exito",
																		"Los datos han sido modificados");
															}
															$('#list')
																	.trigger(
																			"reloadGrid");
														});
									}
								} else if (bandera == 3) {
									$(this).dialog("close");
								}
							},
							"Cancelar" : function() {
								$(this).dialog("close");
							}
						}
					});

	$.enmascarar = function() {
		$("#ci").mask("?9999999999", {
			placeholder : " "
		});
		$("#telefono").mask("?9999999999999", {
			placeholder : " "
		});
	}
	function cargarForm(rowdata, row) {
		rowdata = $('#list').getRowData(row);
		$('#checkPL').prop('checked', false);
		$('#checkAdmin').prop('checked', false);
		if(rowdata.pl=="1")
			$('#checkPL').prop('checked', true);
		if(rowdata.admin=="1")
			$('#checkAdmin').prop('checked', true);
		
		
		
		$("#idUsuario").val(rowdata.idUsuario);
		$("#pass").val(rowdata.pass);
		$("#nombreUsuario").val(rowdata.nombreUsuario);
		$("#ci").val(rowdata.ci);
		$("#nombre").val(rowdata.nombre);
		$("#apellido").val(rowdata.apellido);
		$("#email").val(rowdata.email);
		$("#direccion").val(rowdata.direccion);
		$("#telefono").val(rowdata.telefono);
		$("#observacion").val(rowdata.observacion);
		$("#activo").val(rowdata.activo);

	}

	function setCamposDisabled(habilitar) {
		$('#checkPL').prop('disabled', habilitar);
		$('#checkAdmin').prop('disabled', habilitar);
		$("#idUsuario").attr('disabled', habilitar);
		$("#pass").attr('disabled', habilitar);
		$("#nombreUsuario").attr('disabled', habilitar);
		$("#ci").attr('disabled', habilitar);
		$("#nombre").attr('disabled', habilitar);
		$("#apellido").attr('disabled', habilitar);
		$("#email").attr('disabled', habilitar);
		$("#direccion").attr('disabled', habilitar);
		$("#telefono").attr('disabled', habilitar);
		$("#activo").attr('disabled', habilitar);
		$("#observacion").attr('disabled', habilitar);
	}

	function control(esNuevo) {
		$("#nombreUsuario").css('border-color', 'skyblue');
		$("#pass").css('border-color', 'skyblue');
		$("#ci").css('border-color', 'skyblue');
		$("#nombre").css('border-color', 'skyblue');
		$("#apellido").css('border-color', 'skyblue');
		$("#email").css('border-color', 'skyblue');
		$("#direccion").css('border-color', 'skyblue');
		$("#telefono").css('border-color', 'skyblue');
		$("#observacion").css('border-color', 'skyblue');

		var error = 0
		var len;

		len = $("#nombreUsuario").val().trim().length;
		if (len > 20 || len <= 0) {
			$("#nombreUsuario").css('border-color', 'red');
			error = 1;
		}

		if (esNuevo) {
			len = $("#pass").val().trim().length;
			if (len <= 0) {
				$("#pass").css('border-color', 'red');
				error = 1;
			}
		}

		len = $("#ci").val().trim().length;
		if (len > 10 || len <= 0) {
			$("#ci").css('border-color', 'red');
			error = 1;
		}
		len = $("#nombre").val().trim().length;
		if (len > 30 || len <= 0) {
			$("#nombre").css('border-color', 'red');
			error = 1;
		}
		len = $("#apellido").val().trim().length;
		if (len > 30 || len <= 0) {
			$("#apellido").css('border-color', 'red');
			error = 1;
		}
		len = $("#email").val().trim().length;
		if (len > 30 || len <= 0) {
			$("#email").css('border-color', 'red');
			error = 1;
		}
		len = $("#direccion").val().trim().length;
		if (len > 30) {
			$("#direccion").css('border-color', 'red');
			error = 1;
		}
		len = $("#telefono").val().trim().length;
		if (len > 13) {
			$("#telefono").css('border-color', 'red');
			error = 1;
		}
		len = document.getElementById("observacion").value.trim().length;
		//len=$("#observacion").val().trim().length;
		if (len > 50) {
			$("#observacion").css('border-color', 'red');
			error = 1;
		}
		return error;
	}

	/* funcion para llamar al formulario para modificar un pass*/
	function cambiarPass() {
		
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a modificar");
			return;
		}
		rowdata = $('#list').getRowData(row);
		$("#idControl").val(rowdata.idUsuario);
		$("#passControl").val(rowdata.pass);
		$("#passActual").val("");
		$("#passNuevo").val("");
		$("#dialogoPass").dialog("open");
	}
	/* funcion para llamar al formulario agregar un nuevo datos */
	function agregar() {
		/* se indica que se cargará un nuevo dato */
		bandera = 1;
		
		$('#checkPL').prop('checked', false);
		$('#checkAdmin').prop('checked', false);	
		
		/* se vacian los elementos HTML de captura de datos */
		$("#idUsuario").val("");
		$("#pass").val("");
		$("#nombreUsuario").val("");
		$("#ci").val("");
		$("#nombre").val("");
		$("#apellido").val("");
		$("#email").val("");
		$("#direccion").val("");
		$("#telefono").val("");
		$("#activo").val("");
		$("#observacion").val("");
		/* se llama al dialogo de captura de datos */
		setCamposDisabled(false);
		$.enmascarar();

		$("#dialogo-datos-cliente").dialog("open");
	}

	/* funcion para llamar al formulario para la modificación de datos */
	function modificar() {
		/* se indica que el dato no es nuevo */
		bandera = 2;
		/* se comprueba que hay un dato seleccionado para modificar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a modificar");
			return;
		}
		var rowdata;
		/* se cargan los elementos HTML segun la fila seleccionada*/
		cargarForm(rowdata, row);
		/*se habilita la edicion*/
		setCamposDisabled(false);
		$.enmascarar();
		
		/*el pass no puede ser modificado aqui, se debe ir a cambiar pass*/
		$("#pass").attr('disabled', true);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-datos-cliente").dialog("open");
	}

	function consultar() {
		/* se indica que el dato no es nuevo */
		bandera = 3;
		/* se comprueba que hay un dato seleccionado para consultar */
		var row = $('#list').jqGrid('getGridParam', 'selrow');
		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a consultar");
			return;
		}
		var rowdata;
		/* se cargan los elementos HTML segun la fila seleccionada*/
		cargarForm(rowdata, row);
		/*se inhabilita la edicion*/
		setCamposDisabled(true);
		/* se llama al dialogo para modificar los datos */
		$("#dialogo-datos-cliente").dialog("open");
	}
	/* funcion que maneja la accion de desactivar un cliente*/
	function desactivar() {

		var row = $('#list').jqGrid('getGridParam', 'selrow');

		if (row == null) {
			mostrarMensaje("Atencion", "Seleccione la fila a desactivar");
			return;
		}

		var rowdata = $('#list').getRowData(row);

		$.post('inactivarUsuario', {
			idUsuario : rowdata.idUsuario
		}, function(data, status) {
			$("#dialogo-datos-cliente").dialog("close");

			if (data.error) {
				mostrarMensaje("Error",
						"El Usuario no se lo ha podido inactivar");
			} else {
				mostrarMensaje("Suceso", "El Usuario ha sido inactivado");
			}
			$('#list').trigger("reloadGrid");
		});
	}

	function mostrarMensaje(titulo, mensaje) {
		$('#msgbox').text(mensaje);
		$('#msgbox').dialog({
			title : titulo,
			modal : true,
			buttons : {
				"Ok" : function() {
					$(this).dialog("close");
				}
			}
		});
	}
</script>
<div id='msgbox' title='' style='display: none'></div>

{% endblock %} {% block body %}

<tr>
	<td><div>
			<table id="list"></table>
			<div id="pager"></div>
		</div></td>
	<td><div>
			<br></br>
			<input id="btAgregar" type="button" name="nuevo" value="Nuevo" onclick='agregar()' />
			<input id="btModificar" type="button" name="detalle" onclick='modificar();'
				value="Modificar" /> 
			<input id="btCambiarPass" type="button" name="cambiarPass"
				value="Cambiar Pass" onclick='cambiarPass()' />
			<input id="btConsultar" type="button" name="consultar"
				value="Consultar" onclick='consultar()' />
			<br></br>
			<script>
			$("#btAgregar").button();
			$("#btModificar").button();
			$("#btCambiarPass").button();
			$("#btConsultar").button();
			</script>
		</div></td>
		
</tr>


{% endblock %}
</html>