/demo.pyc
/WAPMTestCase.pyc
/config.pyc
/login.pyc
/main.pyc
/miembros.pyc
/testsAgregarFase.pyc
/testsAgregarProyecto.pyc
/testsAgregarQuitarMiembro.pyc
/testsAgregarTipoItem.pyc
/testsAgregarUsuario.pyc
/testsLogin.pyc
/testsModificarFase.pyc
/testsModificarProyecto.pyc
/testsModificarUsuario.pyc
/tests_modificarTipoItem.pyc
/utils.pyc
/mainPyUnit.pyc
