@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


#divNowLoading { position:fixed; 
                 width:100%; 
                 height:100%; 
                 z-index:9999; 
                 filter:alpha(opacity=60); 
                 -moz-opacity:.60;
                 opacity:.60;
                 text-align:center;
                 padding-top:25%;
                 background-color:#000;
}

::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(../images/bg.png) repeat;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
}

#pagina {
	position: absolute;
}

.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	/* Fallback */ 
	background-image: url(../images/gradient.png); 
	background-repeat: no-repeat; 
	
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(202,202,202,1)), to(rgba(202,202,202,0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(202,202,202,1), rgba(202,202,202,0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(202,202,202,1), rgba(202,202,202,0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(202,202,202,1), rgba(202,202,202,0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(202,202,202,1), rgba(202,202,202,0));
}

/*******************
Formulario de Login
*******************/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
Cabecera
*******************/

.header {
	padding: 25px 30px 30px 30px;
}

#principal .header{
	height: 35px;
	background: #DFD1D1;
	background: rgba(223, 209, 209, 0.5);
	border-radius: 5px 5px 0 0;
	margin-bottom: 25px;
}

#principal .footer{
	height: 35px;
	background: #DFD1D1;
	background: rgba(223, 209, 209, 0.5);
	border-radius: 5px 5px 0 0;
}

/* boton konecta */
a.konecta-footer{
	float: right;
	padding: 10px;
	margin: 7px 0 0 0;
	
	background: url(../images/konecta.png) no-repeat!important;
	
	width: 90px;
	height: 100%;
	text-decoration: none;
}


.header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	background: url(../images/carrito.png) no-repeat!important;
	text-indent: 50px;
	min-height: 40px;
}

h2{
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:40px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	background-repeat: no-repeat!important;
	text-indent: 60px;
	min-height: 50px;
	margin-left: 70px;
}

.login-form .header h1 {
	text-align: center;
}

.header span {
	font-size: 11px;
	line-height: 16px;
	color: #963A3A;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
Contenido
*******************/

.login-form .content {
	padding: 0 0 25px;
	text-align: center;
}

/* Input field */
input{
	outline: none;
}

.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .icono-password {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #F0E7E7;
	color: #414848;
}

.login-form .content .input:focus {
	background: #F0E7E7;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.icono-usuario, .icono-password {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.icono-usuario {
	top:98px;
	background: rgba(65,72,72,0.75) url(../images/icono-usuario.png) no-repeat center;	
}

.icono-password {
	top:171px;
	background: rgba(65,72,72,0.75) url(../images/icono-password.png) no-repeat center;
}

.icono-adm{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	left: 0px;
	padding-left: 2px;
	z-index: 0;
	cursor: pointer;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	
	background-color: #DFD1D1;
	background-color: rgba(223, 209, 209, 0.5);
	background-repeat:  no-repeat;
}

.icono-adm:hover,.icono-adm:active,.icono-adm.activo{
	background-color: #FFE593;
	background-color: rgba(255, 229, 147, 0.5);
}

.usuarios{
	background-image: url(../images/usuarios.png);	
}
.roles{
	background-image: url(../images/roles.png);	
}
.r-u{
	background-image: url(../images/r-u.png);	
}

/* Animation */
.input, .icono-usuario, .icono-password, .icono-adm, .boton, .registrar, .konecta {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 30px 20px 30px;
	overflow: auto;
	
	background: #DFD1D1;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Boton Login */
.boton {
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #cb0000;
	border: 1px solid #bc0000;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .boton{
	float:right;
}

.boton:hover {
	background: #b10000;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.boton:focus {
	position: relative;
	bottom: -1px;
	
	background: #cb0000;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* boton registrar */
.login-form .footer .registrar{
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .registrar:hover{
	color: #b10000;
}

.login-form .footer .registrar:focus{
	position: relative;
	bottom: -1px;
}

/* boton konecta */
a.konecta{
	display: block;
	float: left;
	padding: 0px;
	margin: 17px 0 0 5px;
	
	background: url(../images/konecta.png) no-repeat!important;
	border: none;
	cursor: default;
	
	width: 90px;
	height: 18px;
	text-decoration: none;
}

a.principal {
	text-decoration:none;
	color:#414848;
}

/*******************
Principal
*******************/

#principal {
	width: 970px;
	/*min-height: 550px;*/
	margin: 0 auto;
	position: relative;
	z-index:5;
	
	background: #f3f3f3 ;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#principal #nav{
	float:right;
}

#principal #nav ul li{
	float: left;
	
	border: medium none;
	border-right: 1px solid #DFD1D1;
	border-right: 1px solid rgba(223, 209, 209, 0.5);
    display: inline-block;
    height: 0;
    overflow: hidden;
    padding-top: 90px;
    width: 100px;
	
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	background-position: center center;

	list-style:none;
	text-align: center;
}
#principal #nav ul li:last-child{
	border-radius: 0 5px 0 0;
	border-right: none;
}
.ventas{
	background-image: url(../images/ventas.png);	
}
.compras{
	background-image: url(../images/compras.png);	
}
.productos{
	background-image: url(../images/productos.png);	
}
.clientes{
	background-image: url(../images/clientes.png);	
}
.proveedores{
	background-image: url(../images/proveedores.png);	
}
#principal #nav ul li.salir{
	background-image: url(../images/salir.png);	
}
#principal #nav ul li:hover,#principal #nav ul li:active,#principal #nav ul li.activo{
	background: #B10000;
	height: 54px;
	padding: 36px 0 0;
}
#principal #nav ul li a{
	text-decoration: none;
	font-family: 'Bree Serif', serif;
	color: #ffffff;
	cursor: pointer;
}
.botonera{
	margin-top: -50px;
	margin-right: 60px;
	text-align: center;
	float: right;
}
.botonera .boton{
	width: 140px;
	text-align: center;
	margin: 0 10px;
}
#contenido{
	padding: 0 35px;
}
