
{% extends "baseMiembro.html" %}


{% block header %}


{% endblock %} {% block body %}

<script type="text/javascript">

	jQuery(document).ready(function() {
		
		var gridSC = jQuery("#listSC").jqGrid(
				{
					
					// datatype : "local",
					// data:mydata,
					url : '/listarSCVotante',
					datatype : "json",
					mtype : "get",
					postData: { idProyecto: "{{session['idProyecto']}}", idUsuario: "{{session['idUsuario']}}" },
					show : {
						effect : 'fade',
						duration : 200
					},
					hide : {
						effect : 'fade',
						duration : 200
					},
					colNames : [ 'ID SC ', 'Descripcion',
							'Estado'],
					colModel : [ {
						name : 'idSC',
						index : 'idSC',
						hidden : true
					}, {
						name : 'descripcion',
						index : 'descripcion',
					},{
						name : 'estado',
						index : 'estado',
						formatter : 'select',
						stype : 'select',
						editoptions : {
							value : "pendiente:Pendiente;aprobada:Aprobada;rechazada:Rechazada"
						},
						hidden : false
					}

					],
					sortname : 'idSC',
					viewrecords : true,
					rownumbers : true,
					sortorder : "desc",
					ignoreCase : true,
					pager : '#pagerSC',
					caption : "Solicitudes de cambio enviadas",
					jsonReader : {
						root : "invdata",
						page : "currpage",
						total : "totalpages",
						records : "totalrecords",
						repeatitems : false
					}

				}).jqGrid('navGrid', '#pagerSC', {
			edit : false,
			add : false,
			del : false,
			search : false,
			refresh : true
		});
		gridSC.jqGrid('filterToolbar', {
			stringResult : true,
			searchOnEnter : false,
			defaultSearch : "cn"
		});
		
		var gridVotaciones = jQuery("#listVotaciones").jqGrid(
				{
					
					// datatype : "local",
					// data:mydata,
					url : '/listarVotos',
					datatype : "json",
					mtype : "get",
					postData: { idSC:'0' },
					show : {
						effect : 'fade',
						duration : 200
					},
					hide : {
						effect : 'fade',
						duration : 200
					},
					colNames : [ 'Miembro de comite', 'Voto del miembro'],
					colModel : [ {
						name : 'miembro',
						index : 'miembro',
						
					},
					{
						name: 'voto',
						index: 'voto',
						search: false, 
						formatter : 'select',
						stype : 'select',
						editoptions : {
							value : "p:Pendiente;si:Aprobar;no:Rechazar"
						},
						
					}

					],
					sortname : 'voto',
					viewrecords : true,
					rownumbers : true,
					sortorder : "desc",
					ignoreCase : true,
					pager : '#pagerVotaciones',
					caption : "Listado de votos para la solicitud",
					jsonReader : {
						root : "invdata",
						page : "currpage",
						total : "totalpages",
						records : "totalrecords",
						repeatitems : false
					}

				}).jqGrid('navGrid', '#pagerVotaciones', {
			edit : false,
			add : false,
			del : false,
			search : false,
			refresh : true
		});
		gridVotaciones.jqGrid('filterToolbar', {
			stringResult : true,
			searchOnEnter : false,
			defaultSearch : "cn"
		});
		
		var gridItemAgregar = jQuery("#listItemIncluido").jqGrid(
				{
					
					// datatype : "local",
					// data:mydata,
					url : '/listarItemIncluido',
					datatype : "json",
					mtype : "get",
					postData: { idSC: '0'},
					show : {
						effect : 'fade',
						duration : 200
					},
					hide : {
						effect : 'fade',
						duration : 200
					},
					colNames : [ 'ID SC ', 'Fase',
							'Item','Estado'],
					colModel : [ {
						name : 'idItem',
						index : 'idItem',
						hidden : true
					}, {
						name : 'idFase',
						index : 'idFase',
					},{
						name : 'nombreItem',
						index : 'nombreItem',
					},
					{
						name: 'estado',
						index: 'estado',
						search:false
					}

					],
					sortname : 'idFase',
					viewrecords : true,
					rownumbers : true,
					sortorder : "desc",
					ignoreCase : true,
					pager : '#pagerItemIncluido',
					caption : "Items dentro de la Solicitud",
					jsonReader : {
						root : "invdata",
						page : "currpage",
						total : "totalpages",
						records : "totalrecords",
						repeatitems : false
					}

				}).jqGrid('navGrid', '#pagerItemIncluido', {
			edit : false,
			add : false,
			del : false,
			search : false,
			refresh : true
		});
		gridItemAgregar.jqGrid('filterToolbar', {
			stringResult : true,
			searchOnEnter : false,
			defaultSearch : "cn"
		});

		
		
		$("#dialogo-votacion")
		.dialog(
				{
					autoOpen : false,
					modal : true,
					overflow : scroll,
					resizable : false,
					width: 'auto',
					heigth: 'auto',
					
					
					show : {
						effect : 'fade',
						duration : 400
					},
					hide : {
						effect : 'fade',
						duration : 350
					}
				});
		$("#dialogo-item-incluido")
		.dialog(
				{
					autoOpen : false,
					modal : true,
					overflow : scroll,
					resizable : false,
					width: 'auto',
					heigth: 'auto',
					
					
					show : {
						effect : 'fade',
						duration : 400
					},
					hide : {
						effect : 'fade',
						duration : 350
					},
					buttons : {
						/* funcion asociado al boton aceptar */
						"Informe de Costo": function(){informe()},
						"Salir" : function() {$(this).dialog("close"); }
					}
				});
		
		$("#dialogo-informe-costos")
		.dialog(
				{
					autoOpen : false,
					modal : true,
					overflow : scroll,
					resizable : false,
					width: 'auto',
					heigth: 'auto',
					
					
					show : {
						effect : 'fade',
						duration : 400
					},
					hide : {
						effect : 'fade',
						duration : 350
					},
					buttons : {
						/* funcion asociado al boton aceptar */
						"Salir" : function() {$(this).dialog("close"); }
					}
				});
	});
	

	function informe(){
		var rowItem = $('#listSC').jqGrid('getGridParam', 'selrow');
		if (rowItem == null) {
			//window.alert("Debe seleccionar un item");
			mostrarMensaje("Atencion","Debe seleccionar una solicitud");
			return;
		}
		var rowdata = $('#listSC').getRowData(rowItem);
		window.open('/informe?idSC='+rowdata.idSC,"Informe","titlebar=0")
			
	}
	function mostrarMensaje(titulo, mensaje) {
		$('#msgbox').text(mensaje);
		$('#msgbox').dialog({
			title : titulo,
			modal : true,
			show : {
				effect : 'fade',
				duration : 250
			},
			hide : {
				effect : 'fade',
				duration : 200
			},
			buttons : {
				"Ok" : function() {
					$(this).dialog("close");
				}
			}
		});
	}

	
	
	
	function updateListSC(){
		
		$('#listSC').setGridParam({postData : {
				idProyecto: valorenSesion,
			}
		});
		$('#listSC').trigger("reloadGrid");
		
		$('#listItemAgregar').setGridParam({postData : {
			idProyecto: valorenSesion,
		}
		});
		$('#listItemAgregar').trigger("reloadGrid");

		
		
	}
	
	function dialogoVotacion(){
		
		var rowItem = $('#listSC').jqGrid('getGridParam', 'selrow');
		if (rowItem == null) {
			//window.alert("Debe seleccionar un item");
			mostrarMensaje("Atencion","Debe seleccionar una solicitud");
			return;
		}
		var rowdata = $('#listSC').getRowData(rowItem);
		
		$('#listVotaciones').setGridParam({postData : {
			idSC: rowdata.idSC
		}
		});
		$('#listVotaciones').trigger("reloadGrid");
		$("#dialogo-votacion").dialog("open");	
	}
	
	function aprobar(){
		var rowItem = $('#listSC').jqGrid('getGridParam', 'selrow');
		var rowdata = $('#listSC').getRowData(rowItem);
		
		$.post('/setVoto/',
				{
					idSC: rowdata.idSC,voto:'si'
				},
				function(data, status) {
					if (data.substring(0, 1) == 't') {
						mostrarMensaje("Error","Los datos no se han podido guardar:\n"
										+ data.substring(2));
						$("#dialogo-votacion").dialog("close");
					} else {
						
						$('#listVotaciones').trigger("reloadGrid");
						$('#listSC').trigger("reloadGrid");
						mostrarMensaje("Exito",data.substring(2));
						
						$("#dialogo-votacion").dialog("close");
					}
				}

			);		
		
	}
	
	function rechazar(){
		var rowItem = $('#listSC').jqGrid('getGridParam', 'selrow');
		var rowdata = $('#listSC').getRowData(rowItem);
		
		$.post('/setVoto/',
				{ 
					idSC: rowdata.idSC,voto:'no'
				},
				function(data, status) {
					if (data.substring(0, 1) == 't') {
						mostrarMensaje("Error","Los datos no se han podido guardar:\n"
										+ data.substring(2));
						$("#dialogo-votacion").dialog("close");
					} else {
						
						mostrarMensaje("Exito",data.substring(2));
						$("#dialogo-votacion").dialog("close");
					}
				}

			);		
		$('#listVotaciones').trigger("reloadGrid");
		$('#listSC').trigger("reloadGrid");
	}
		
	
	
	
	
	function consultar(){
		var rowItem = $('#listSC').jqGrid('getGridParam', 'selrow');
		if (rowItem == null) {
			//window.alert("Debe seleccionar un item");
			mostrarMensaje("Atencion","Debe seleccionar una solicitud");
			return;
		}
		var rowdata = $('#listSC').getRowData(rowItem);
		
		$('#listItemIncluido').setGridParam({postData : {
			idSC: rowdata.idSC,
		}
		});
		$('#listItemIncluido').trigger("reloadGrid");
		$("#dialogo-item-incluido").dialog("open");
	}
	
	
	
</script>

		<div  style="margin-left:auto;margin-right:auto;width:100%;">
		
			<h2>Solicitudes de Cambio recibidas</h2>
			<table id="listSC" ></table>
			<div id="pagerSC"></div>
	
			<br></br> 
			<input id="btVotar" type="button" name="votar" value="Votacion" onclick='dialogoVotacion()' />
			<input id="btConsultar" type="button" name="consultar" value="Consultar Items" onclick='consultar()' />
			 <br></br>
	
		</div>

		<script>
				$("#btVotar").button();
				$("#btConsultar").button();
		</script>
		
		
		<div id="dialogo-votacion" title="Votacion">
			<table id="listVotaciones"></table>
			<div id="pagerVotaciones"></div>
			<br></br> 
			<input id="btAprobar" type="button" name="aprobar" value="Aprobar solicitud!" onclick='aprobar()' />
			<input id="btRechazar" type="button" name="rechazar" value="Rechazar solicitud!" onclick='rechazar()' />
			<br></br>
	
		</div>
		<script>
				$("#btAprobar").button();
				$("#btRechazar").button();
		</script>

		
		<div id="dialogo-item-incluido" title="Items incluidos en la solicitud">
			<table id="listItemIncluido"></table>
			<div id="pagerItemIncluido"></div>
		</div>
		
		<div id="msgbox"></div>
		
		<div id="dialogo-informe-costos" title="Informe de Costos">
			<div id="divDetalles">
			</div>
		</div>
		

{% endblock %}